.radio-all {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 870px;
  padding: 0 26px 0 0; }
  .radio-all.show-list:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2); }
  .radio-all.show-list:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #313133; }
  .radio-all.jp-state-playing #current-station .play-pause-wrapper .state-pause {
    display: block; }
  .radio-all.jp-state-playing #current-station .play-pause-wrapper .state-play {
    display: none; }
  .radio-all .stations {
    height: 100%;
    cursor: pointer;
    padding-left: 10px;
    z-index: 1; }
    .radio-all .stations.hovered {
      background-color: rgba(153, 153, 153, 0.2); }
    .radio-all .stations .current-station-logo {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      width: 170px;
      min-width: 170px; }
      .radio-all .stations .current-station-logo svg {
        min-width: 150px;
        max-height: 35px; }
        .radio-all .stations .current-station-logo svg path, .radio-all .stations .current-station-logo svg g {
          fill: #fff; }
  .radio-all .control-name-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    width: 407px;
    z-index: 1; }
    .radio-all .control-name-container#current-station .play-pause-wrapper {
      background-color: #313133; }
      .radio-all .control-name-container#current-station .play-pause-wrapper path, .radio-all .control-name-container#current-station .play-pause-wrapper g {
        fill: #fff;
        stroke: #fff; }
      .radio-all .control-name-container#current-station .play-pause-wrapper:hover {
        background-color: #fff; }
        .radio-all .control-name-container#current-station .play-pause-wrapper:hover path, .radio-all .control-name-container#current-station .play-pause-wrapper:hover g {
          fill: #313133;
          stroke: #313133; }
      .radio-all .control-name-container#current-station .play-pause-wrapper:active {
        background-color: #e6c12e; }
        .radio-all .control-name-container#current-station .play-pause-wrapper:active path, .radio-all .control-name-container#current-station .play-pause-wrapper:active g {
          fill: #313133;
          stroke: #313133; }
    .radio-all .control-name-container .play-pause-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 100%;
      cursor: pointer;
      padding: 0 15px;
      margin-right: 10px; }
      .radio-all .control-name-container .play-pause-wrapper .state-play, .radio-all .control-name-container .play-pause-wrapper .state-pause {
        margin-top: -3px; }
      .radio-all .control-name-container .play-pause-wrapper .state-pause {
        display: none; }
      .radio-all .control-name-container .play-pause-wrapper .state-play {
        display: block; }
    .radio-all .control-name-container .track-info {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: nowrap;
      height: 100%;
      width: 95%;
      color: #fff; }
      .radio-all .control-name-container .track-info .artist {
        position: relative;
        /*        padding: 0 15px 0 0;

                &:after {
                  content: '-';
                  position: absolute;
                  right: 5px;
                  top: -2px;
                  display: block;
                  height: 100%;
                  width: 5px;
                  color: inherit;
                }*/ }
      .radio-all .control-name-container .track-info .track-name {
        overflow: hidden;
        text-overflow: ellipsis; }
  .radio-all .volume-copy-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 256px;
    position: relative; }
    .radio-all .volume-copy-block > * {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: relative; }
      .radio-all .volume-copy-block > *:hover path, .radio-all .volume-copy-block > *:hover g {
        opacity: .8; }
      .radio-all .volume-copy-block > *:active path, .radio-all .volume-copy-block > *:active g {
        opacity: 1;
        fill: #e6c12e; }
    .radio-all .volume-copy-block .volume-control {
      margin-right: 20px; }
      .radio-all .volume-copy-block .volume-control:hover {
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2); }
    .radio-all .volume-copy-block .jp-volume-bar {
      display: none;
      position: absolute;
      top: 100%;
      left: 10px;
      height: 100px;
      width: 10px;
      z-index: 10; }
      .radio-all .volume-copy-block .jp-volume-bar .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        background-position: 0 0;
        left: 0;
        width: 100%;
        bottom: 0; }
      .radio-all .volume-copy-block .jp-volume-bar .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 1.2em;
        height: 1.2em;
        cursor: default;
        -ms-touch-action: none;
        touch-action: none;
        left: -.3em;
        margin-left: 0;
        margin-bottom: -.6em; }
  .radio-all .stations-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 350px;
    background-color: #313133;
    z-index: -1;
    overflow: auto; }
    .radio-all .stations-list .station-row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      position: relative;
      padding: 0 10px;
      margin: 3px 0;
      height: 40px;
      cursor: pointer; }
      .radio-all .stations-list .station-row:hover {
        background-color: #4A4A4D; }
        .radio-all .stations-list .station-row:hover .play-pause-wrapper {
          background-color: #fff; }
          .radio-all .stations-list .station-row:hover .play-pause-wrapper path, .radio-all .stations-list .station-row:hover .play-pause-wrapper g {
            fill: #313133; }
      .radio-all .stations-list .station-row:active .station-ico-holder svg path, .radio-all .stations-list .station-row:active .station-ico-holder svg g {
        fill: #e6c12e; }
      .radio-all .stations-list .station-row:active .play-pause-wrapper {
        background-color: #e6c12e; }
        .radio-all .stations-list .station-row:active .play-pause-wrapper path, .radio-all .stations-list .station-row:active .play-pause-wrapper g {
          fill: #313133; }
      .radio-all .stations-list .station-row:active .track-info {
        color: #e6c12e; }
      .radio-all .stations-list .station-row:active .volume-copy-block path, .radio-all .stations-list .station-row:active .volume-copy-block g {
        fill: #e6c12e; }
      .radio-all .stations-list .station-row.active {
        background-color: #181819; }
      .radio-all .stations-list .station-row .station-ico-holder {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        width: 170px;
        min-width: 170px; }
        .radio-all .stations-list .station-row .station-ico-holder svg {
          min-width: 150px; }
          .radio-all .stations-list .station-row .station-ico-holder svg path, .radio-all .stations-list .station-row .station-ico-holder svg g {
            fill: #fff; }
      .radio-all .stations-list .station-row .control-name-container .track-info {
        padding-left: 7px; }

/*# sourceMappingURL=1.1.radio.css.map */
