.slide-page.center-content {
  padding-top: 16px; }
  .slide-page.center-content .slide-ribbon {
    position: relative;
    height: 100%;
    padding-left: 16px;
    width: 100%;
    max-width: 854px; }
    .slide-page.center-content .slide-ribbon .user-controls {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      padding: 10px 0;
      font-size: 18px;
      color: #999; }
      .slide-page.center-content .slide-ribbon .user-controls .control-btn {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        padding: 10px;
        min-height: 40px;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.4); }
        .slide-page.center-content .slide-ribbon .user-controls .control-btn:hover {
          background-color: #B3B4B4;
          color: #fff;
          box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25); }
          .slide-page.center-content .slide-ribbon .user-controls .control-btn:hover path, .slide-page.center-content .slide-ribbon .user-controls .control-btn:hover g {
            fill: #fff; }
        .slide-page.center-content .slide-ribbon .user-controls .control-btn:active {
          background-color: #e6c12e;
          color: #fff;
          -webkit-transform: translateY(2px);
          -moz-transform: translateY(2px);
          -o-transform: translateY(2px);
          -ms-transform: translateY(2px);
          transform: translateY(2px);
          box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5); }
          .slide-page.center-content .slide-ribbon .user-controls .control-btn:active path, .slide-page.center-content .slide-ribbon .user-controls .control-btn:active g {
            fill: #fff; }
      .slide-page.center-content .slide-ribbon .user-controls .previous-user {
        -webkit-box-flex: 1 22.7%;
        -moz-box-flex: 1 22.7%;
        -webkit-flex: 1 22.7%;
        -ms-flex: 1 22.7%;
        flex: 1 22.7%;
        -webkit-justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 7px;
        background-color: #f2f2f2; }
        .slide-page.center-content .slide-ribbon .user-controls .previous-user .backwards-ico {
          margin-right: 10px; }
      .slide-page.center-content .slide-ribbon .user-controls .next-user {
        position: relative;
        -webkit-box-flex: 1 48%;
        -moz-box-flex: 1 48%;
        -webkit-flex: 1 48%;
        -ms-flex: 1 48%;
        flex: 1 48%;
        background-color: #f2f2f2;
        padding-left: 20%; }
        .slide-page.center-content .slide-ribbon .user-controls .next-user .forwards-ico {
          margin-left: 10px; }
    .slide-page.center-content .slide-ribbon .slider-block {
      position: relative;
      -webkit-box-flex: 1 auto;
      -moz-box-flex: 1 auto;
      -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
      flex: 1 auto;
      height: 450px; }
      .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%; }
        .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap .swiper-container {
          position: relative;
          width: 838px;
          height: 450px;
          background-color: #000;
          box-shadow: 0.5px 0.5px 4px 0 rgba(0, 0, 0, 0.4); }
          .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap .swiper-container .swiper-wrapper {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-shrink: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap .swiper-container .swiper-wrapper .swiper-slide {
              position: relative;
              width: 838px;
              height: 450px;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-flex-shrink: 1;
              -ms-flex-negative: 1;
              flex-shrink: 1;
              -webkit-align-items: center;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              background-color: #000; }
              .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap .swiper-container .swiper-wrapper .swiper-slide .sizebox {
                width: 838px;
                height: 450px;
                z-index: 1; }
              .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap .swiper-container .swiper-wrapper .swiper-slide .pick-image {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 838px;
                max-height: 450px;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
              .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap .swiper-container .swiper-wrapper .swiper-slide .endslide-box {
                position: absolute;
                left: 419px;
                bottom: 40%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                white-space: nowrap;
                color: #fff;
                animation: fadeBoxIn 1s ease;
                text-align: center; }
@keyframes fadeBoxIn {
  0%, 70% {
    opacity: 0; }
  100% {
    opacity: 1; } }
              .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap .swiper-container .swiper-wrapper .swiper-slide .endslide-button {
                color: #fff;
                white-space: nowrap;
                margin: 20px 0 0;
                font-size: 14px; }
          .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap .swiper-container .swiper-button-next {
            margin-top: 0;
            top: 0;
            width: 270px;
            height: 100%;
            background-position: right; }
          .slide-page.center-content .slide-ribbon .slider-block .slider-block-inner-wrap .swiper-container .swiper-button-prev {
            margin-top: 0;
            top: 0;
            width: 270px;
            height: 100%;
            background-position: left; }

/*# sourceMappingURL=2.2.09.page-slide.css.map */
