@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.partners-page{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  min-height: 100%;
  padding: 7px 5px;
  position: relative;

  .emails-wrapper {

    .single-email {
      @include flexbox;
      @include align-items-center;
      margin: 2px 5px;
      padding: 2px 0;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);

      &:nth-child(odd) {
        background: #fafafa;
      }

      & > * {
        margin: 0 3px;
      }

      a {
        @include flexbox;
        @include align-items-center;
        @include flex(1 auto);

        & > * {
          margin: 0 3px;

          svg {
            margin: 0 3px;
          }
        }

        &[href^="/profile"] {

          & > :not(.user-avatar) {
            @include flexbox;
            @include align-items-center;
            @include flex(1 auto);
          }

          & > .preferences {
            @include flex(0 85px);
          }

          & > .last-active {
            @include flex(0 85px);
          }

          & > .register-date {
            @include flex(0 95px);
          }

          & > .coins-amount {
            @include flex(0 130px);
          }

          & > .messages-amount {
            @include flex(0 65px);
          }

          & > .mails-amount {
            @include flex(0 60px);
          }
        }
      }

      .user-avatar {
        @include user-avatar(27px);
        border-radius: 50%;
        background: transparent;
        margin: 0 3px;
      }

      .user-nickname {
        text-decoration: none;
        @include flex(0 700px);
        color: #005fa6;
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .user-msg{
        cursor:pointer;
        margin: 0 50px;
        &:hover{
          g{
            fill: #313133;
          }
        }
        &:active{
          g{
            fill: $font-color-antagonist;
          }
        }
      }

      .user-email{
        color: #999999;
        font-size: 14px;
        text-decoration: underline;
        margin: 0 50px 0 0;
        flex: 0 300px;
        &:hover{
          color: #313133;
        }
        &:active{
          color: $font-color-antagonist;
        }
      }

      .edition-holder {
        display: flex;
        align-items: center;
        flex: 0 300px;
        .edition-button{
          padding: 5px 10px;
          background-color: $bg-color--very-light;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
          &:hover{
            background-color: #B3B4B4;
          }
          &:active{
            background-color: #e6c12e;
          }
        }
      }

      .coins-amount-holder{
        flex: 0 150px;
      }

      .coins-amount{
        text-decoration: none;
        @include flexbox;
        @include align-items-center;
        color: $main-color;
      }

/*      .inner-row {
        @include flexbox;
        @include align-items-center;
        @include space-between;
        @include flex(1);
        padding: 2px 7px;
        background-color: $bg-color--white;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
        width: 100%;
      }

      .online-status-lamp {
        width: 15px;
        height: 15px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%));
          width: 9px;
          height: 9px;
          border-radius: 50%;
        }
      }

      .favour-mail-svg-ico {
        width: 15px;
        height: 15px;
      }

      .user-avatar {
        @include user-avatar(27px);
        border-radius: 50%;
        background: transparent;
        margin: 0 3px;
      }

      .user-nickname {
        @include flex(0 auto);
        color: #005fa6;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .user-message {
        @include flex(1 auto);
        color: $font-color--soft-light;
        width: 430px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 16px;

        img[alt='smile'] {
          max-height: 16px;
          max-width: 16px;
        }
      }
      .attachment-mail-svg-ico {
        width: 18px;
        height: 15px;
        opacity: 0;

        path, g {
          fill: $bg-color--very-light;
        }
      }

      .message-status {
        width: 20px;
        height: 20px;
        font-size: 10px;
        position: relative;
        display: none;

        &:before, &:after {
          content: '';
          position: absolute;
          transition: all .1s ease;
        }
      }

      .readed-mail-svg-ico {
        width: 16px;
        height: 18px;
        display: none;

        path, g {
          fill: $bg-color--very-light;
        }
      }

      .unreaded-mail-svg-ico {
        width: 16px;
        height: 12px;
        display: block;

        path, g {
          fill: $bg-color--very-light;
        }
      }

      .reply-mail-svg-ico {
        width: 18px;
        height: 14px;
        display: none;

        path, g {
          fill: $bg-color--very-light;
        }
      }

      .date {
        color: $bg-color--very-light;
      }

      .msg-counter {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        font-size: 9px;
        line-height: 19px;
        text-align: center;
        background-color: $bg-color--very-light;
        color: $font-color--white;
      }

      .online-status {
        position: relative;
        color: $font-color--middle;
        float: right;
        margin: var(main-info-edit--margin-top) var(main-info-edit--margin-right) 0 0;

        &:before {
          content: '';
          background-color: transparent;
          position: absolute;
          width: 5px;
          height: 5px;
          left: -7px;
          top: 5px;
          border-radius: 50%;
        }

        &.online:before {
          background-color: $bg-color--allow;
        }

        &.offline:before {
          background-color: $bg-color--not-allow;
        }
      }

      //conditions control

      &.online {
        .online-status-lamp:before {
          background-color: $bg-color--allow;
        }
      }

      &.offline {
        .online-status-lamp:before {
          background-color: $bg-color--not-allow;
        }
      }

      &.readed {

        .inner-row {
          background-color: $bg-color--lighter;
        }

        .favour-mail-svg-ico {
          path, g {
            fill: $bg-color--very-light;
          }
        }

        .readed-mail-svg-ico {
          display: block;
        }

        .unreaded-mail-svg-ico {
          display: none;
        }

        .user-message {
          color: $bg-color--very-light;
        }
      }

      &.delivered-to-me {
        .inner-row {
          background-color: $bg-color--lighter;
        }

        .message-status {
          display: block;

          &:before, &:after {
            top: 0;
            left: 0;
            width: 12px;
            height: 8px;
            border-left: 2px solid #999;
            border-bottom: 2px solid #999;
            @include transform(rotate(-45deg));
          }

          &:after {
            top: 6px;
            left: 8px;
            height: 1px;
          }
        }

        .unreaded-mail-svg-ico, .readed-mail-svg-ico {
          display: none;
        }
      }

      &.delivered {
        .inner-row {
          background-color: $bg-color--lighter;
        }

        .message-status {
          display: block;

          &:before {
            top: 0;
            left: 0;
            width: 12px;
            height: 8px;
            border-left: 2px solid #999;
            border-bottom: 2px solid #999;
            @include transform(rotate(-45deg));
          }
        }

        .unreaded-mail-svg-ico, .readed-mail-svg-ico {
          display: none;
        }
      }

      &.replied {
        .reply-mail-svg-ico {
          display: block;
        }
      }

      &.is-favour {
        .favour-mail-svg-ico {
          path {
            fill: #E90E8B !important;
          }
        }
      }

      &.has-attachment {
        .attachment-mail-svg-ico {
          opacity: 1;
        }
      }*/
    }
  }

  .edition-list{
      display: none;
    .close-cross {
      @include flexbox;
      @include align-items-center;
      @include justify-content-center;
      position: absolute;
      top: -15px;
      right: -15px;
      width: 30px;
      height: 30px;
      background-color: $background-color-main-inverse;
      border-radius: 50%;
      box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.6);
      z-index: 10;
      cursor: pointer;
      &:hover{
        background-color: $bg-color--orange;
      }
      &:active{
        background-color: $background-color-antagonist;
      }
    }
    .title{
      color: $font-color--dark;
      font-size: 16px;
      padding-bottom: 10px;
    }
    ul{
      max-height: 260px;
      overflow: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      a{text-decoration: none};
      li{
        display: flex;
        align-items: center;
        padding: 5px 0;
        .logo-holder{
          width: 15px;
          height: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .edition-name{
          color: $font-color--dark;
          font-size: 14px;
          &:hover{
            color: $bg-color--very-light;
          }
          &:active{
            color: $background-color-antagonist;
          }
        }
      }
    }
    &.active{
      position: fixed;
      left: 50%;
      margin-left: -100px;
      top: 50%;
      margin-top: -159px;
      z-index: 5;
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0 0 2px rgba(0,0,0,0.35);
      padding: 15px 0;
    }
  }
}