@charset "UTF-8";
.settings.center-content {
  position: relative;
  padding: 0;
  background-color: transparent;
  box-shadow: none; }
  .settings.center-content .settings-block {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    padding-top: 55px;
    margin-bottom: 20px; }
    .settings.center-content .settings-block.radio-block, .settings.center-content .settings-block.stickers-block {
      background: #868789; }
      .settings.center-content .settings-block.radio-block:before, .settings.center-content .settings-block.stickers-block:before {
        content: '';
        position: absolute;
        top: 0;
        height: 205px;
        width: 100%;
        background-color: #fff; }
    .settings.center-content .settings-block .settings-block-title {
      position: absolute;
      top: 10px;
      left: 0;
      padding: 10px;
      font-size: 15px;
      color: #313133;
      background-color: #e6c12e;
      text-transform: uppercase;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2); }
    .settings.center-content .settings-block .settings-block-status {
      position: absolute;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      top: 10px;
      right: 15px;
      width: 730px;
      height: 38px;
      color: white;
      padding-left: 15px;
      background-color: #FF0000;
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2); }
      .settings.center-content .settings-block .settings-block-status.allowed {
        content: "Поздравляем! Вы отображаетесь в знакомствах! Удачи в поиске пары ;)";
        background-color: #39B54A; }
    .settings.center-content .settings-block .check-container {
      width: 100%;
      border-radius: 2px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative; }
      .settings.center-content .settings-block .check-container:hover {
        background-color: rgba(251, 173, 48, 0.5); }
      .settings.center-content .settings-block .check-container.radio-button .check-img {
        background: url(../img/radio-ms-ico.svg) no-repeat 0 0; }
      .settings.center-content .settings-block .check-container input {
        position: absolute;
        top: 5px;
        left: 5px;
        opacity: 0;
        z-index: -1; }
      .settings.center-content .settings-block .check-container input:checked + label .check-img {
        background-position: 0px -21px; }
      .settings.center-content .settings-block .check-container label {
        position: relative;
        height: 100%;
        cursor: pointer;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1; }
      .settings.center-content .settings-block .check-container .check-img {
        width: 20px;
        height: 20px;
        display: block;
        vertical-align: middle;
        background: url(../img/checkbox-ms-ico.svg) no-repeat 0 0; }
    .settings.center-content .settings-block .info-items-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      position: relative;
      padding: 0 15px 15px 15px; }
      .settings.center-content .settings-block .info-items-container.single-row .info-item {
        -webkit-box-flex: 1 100%;
        -moz-box-flex: 1 100%;
        -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
        flex: 1 100%; }
        .settings.center-content .settings-block .info-items-container.single-row .info-item:nth-of-type(2n+1) {
          margin-right: 0; }
        .settings.center-content .settings-block .info-items-container.single-row .info-item .info-name {
          -webkit-box-flex: 0 100px;
          -moz-box-flex: 0 100px;
          -webkit-flex: 0 100px;
          -ms-flex: 0 100px;
          flex: 0 100px;
          color: #313133;
          margin-right: 15%;
          white-space: nowrap; }
        .settings.center-content .settings-block .info-items-container.single-row .info-item .info-parameter {
          -webkit-box-flex: 1 auto;
          -moz-box-flex: 1 auto;
          -webkit-flex: 1 auto;
          -ms-flex: 1 auto;
          flex: 1 auto;
          color: #999;
          text-align: left; }
          .settings.center-content .settings-block .info-items-container.single-row .info-item .info-parameter.changeable {
            width: 200px;
            border: 1px solid #666666;
            padding: 3px 8px;
            background-color: #f2f2f2;
            color: #313133; }
          .settings.center-content .settings-block .info-items-container.single-row .info-item .info-parameter.about-text-content {
            width: 100%; }
          .settings.center-content .settings-block .info-items-container.single-row .info-item .info-parameter input, .settings.center-content .settings-block .info-items-container.single-row .info-item .info-parameter .bootstrap-tagsinput {
            text-align: left; }
          .settings.center-content .settings-block .info-items-container.single-row .info-item .info-parameter select, .settings.center-content .settings-block .info-items-container.single-row .info-item .info-parameter option {
            direction: rtl; }
          .settings.center-content .settings-block .info-items-container.single-row .info-item .info-parameter[contenteditable=true]:empty {
            background-color: #fff; }
            .settings.center-content .settings-block .info-items-container.single-row .info-item .info-parameter[contenteditable=true]:empty:before {
              color: #999; }
      .settings.center-content .settings-block .info-items-container .info-item {
        position: relative;
        -webkit-box-flex: 0 47.5%;
        -moz-box-flex: 0 47.5%;
        -webkit-flex: 0 47.5%;
        -ms-flex: 0 47.5%;
        flex: 0 47.5%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        font-size: 13px;
        padding: 5px 0;
        margin: 0; }
        .settings.center-content .settings-block .info-items-container .info-item.vertical-centred {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
          flex-shrink: 1;
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        .settings.center-content .settings-block .info-items-container .info-item.height .info-parameter.units {
          position: absolute;
          top: 0;
          right: 10px;
          display: inline-block;
          line-height: 25px; }
        .settings.center-content .settings-block .info-items-container .info-item.height .info-parameter.decimals {
          padding-right: 24px; }
        .settings.center-content .settings-block .info-items-container .info-item.height .info-parameter.santimeters {
          margin: 0; }
        .settings.center-content .settings-block .info-items-container .info-item.weight .info-parameter.units {
          position: absolute;
          top: 0;
          right: 10px;
          display: inline-block;
          line-height: 25px; }
        .settings.center-content .settings-block .info-items-container .info-item.weight .info-parameter.decimals {
          padding-right: 24px; }
        .settings.center-content .settings-block .info-items-container .info-item.weight .info-parameter.kg {
          margin: 0; }
        .settings.center-content .settings-block .info-items-container .info-item:nth-of-type(2n+1) {
          margin-right: 5%; }
        .settings.center-content .settings-block .info-items-container .info-item:last-of-type {
          margin-right: 0; }
        .settings.center-content .settings-block .info-items-container .info-item .parameter-field {
          -webkit-box-flex: 0 auto;
          -moz-box-flex: 0 auto;
          -webkit-flex: 0 auto;
          -ms-flex: 0 auto;
          flex: 0 auto;
          position: relative;
          border: 1px solid transparent;
          background: transparent; }
          .settings.center-content .settings-block .info-items-container .info-item .parameter-field .save-button-holder {
            display: none;
            background: #999999;
            position: absolute;
            top: 25px;
            left: 0;
            right: 0;
            z-index: 1; }
            .settings.center-content .settings-block .info-items-container .info-item .parameter-field .save-button-holder .save-status-btn, .settings.center-content .settings-block .info-items-container .info-item .parameter-field .save-button-holder .cancel-status-btn {
              color: white;
              background: #222;
              display: inline-block;
              padding: 1px 5px;
              float: right;
              margin: 4px;
              border: 1px solid black;
              cursor: pointer; }
            .settings.center-content .settings-block .info-items-container .info-item .parameter-field .save-button-holder .cancel-status-btn {
              float: left; }
        .settings.center-content .settings-block .info-items-container .info-item .info-name {
          -webkit-box-flex: 1 auto;
          -moz-box-flex: 1 auto;
          -webkit-flex: 1 auto;
          -ms-flex: 1 auto;
          flex: 1 auto;
          color: #313133;
          margin-right: 0;
          white-space: nowrap;
          text-transform: uppercase; }
        .settings.center-content .settings-block .info-items-container .info-item .info-parameter {
          -webkit-box-flex: 0 auto;
          -moz-box-flex: 0 auto;
          -webkit-flex: 0 auto;
          -ms-flex: 0 auto;
          flex: 0 auto;
          color: #999;
          text-align: right; }
          .settings.center-content .settings-block .info-items-container .info-item .info-parameter.changeable {
            width: 200px;
            border: 1px solid #666666;
            padding: 3px 8px;
            background-color: #f2f2f2;
            color: #313133; }
          .settings.center-content .settings-block .info-items-container .info-item .info-parameter input, .settings.center-content .settings-block .info-items-container .info-item .info-parameter .bootstrap-tagsinput {
            text-align: left; }
          .settings.center-content .settings-block .info-items-container .info-item .info-parameter select, .settings.center-content .settings-block .info-items-container .info-item .info-parameter option {
            direction: rtl; }
          .settings.center-content .settings-block .info-items-container .info-item .info-parameter[contenteditable=true]:empty {
            background-color: #fff; }
            .settings.center-content .settings-block .info-items-container .info-item .info-parameter[contenteditable=true]:empty:before {
              color: #999; }
    .settings.center-content .settings-block .required-items-list {
      padding-bottom: 15px; }
      .settings.center-content .settings-block .required-items-list .required-item {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        margin: 0 0 13px;
        list-style: none;
        padding: 0 15px; }
        .settings.center-content .settings-block .required-items-list .required-item > * {
          -webkit-box-flex: 1 50%;
          -moz-box-flex: 1 50%;
          -webkit-flex: 1 50%;
          -ms-flex: 1 50%;
          flex: 1 50%; }
        .settings.center-content .settings-block .required-items-list .required-item .item-name {
          font-size: 16px;
          color: #313133;
          width: 400px; }
          .settings.center-content .settings-block .required-items-list .required-item .item-name.underlined {
            text-transform: uppercase; }
        .settings.center-content .settings-block .required-items-list .required-item .item-conditions {
          font-size: 19px;
          color: #999;
          width: 365px; }
        .settings.center-content .settings-block .required-items-list .required-item .item-status {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
          flex-shrink: 1;
          float: right;
          margin-right: 50px; }
          .settings.center-content .settings-block .required-items-list .required-item .item-status.first-status {
            text-transform: uppercase;
            margin-right: 27px; }
          .settings.center-content .settings-block .required-items-list .required-item .item-status .allowed {
            position: relative;
            color: #fff;
            width: 20px;
            height: 20px; }
            .settings.center-content .settings-block .required-items-list .required-item .item-status .allowed:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              background: url(../img/condition-status-ok.svg); }
          .settings.center-content .settings-block .required-items-list .required-item .item-status .not.allowed:before {
            content: '';
            background: url(../img/condition-status-not-ok.svg); }
        .settings.center-content .settings-block .required-items-list .required-item .item-link {
          display: inline-block;
          vertical-align: top; }
          .settings.center-content .settings-block .required-items-list .required-item .item-link.to-date {
            vertical-align: middle; }
          .settings.center-content .settings-block .required-items-list .required-item .item-link .to-fill-link {
            color: #313133;
            text-decoration: underline; }
          .settings.center-content .settings-block .required-items-list .required-item .item-link .info-item {
            padding: 0; }
        .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper {
          background: #f2f2f2;
          padding: 7px 7px 17px 7px;
          margin-top: 13px;
          text-align: center;
          display: block; }
          .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            display: none;
            background-color: #4A4A4D;
            z-index: 1; }
          .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper:after {
            content: 'Drop image here';
            font-size: 19px;
            color: #313133;
            position: absolute;
            top: 50%;
            left: 50%;
            display: none;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 2; }
          .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper.is-dragover:before, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper.is-dragover:after {
            display: block; }
          .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target {
            position: relative;
            display: inline-block;
            width: auto;
            height: 90px;
            margin: 3px 1px;
            vertical-align: middle; }
            .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo:hover .single-photo-edit, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target:hover .single-photo-edit {
              opacity: 1; }
            .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo .profile-img, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .profile-img {
              width: auto;
              height: 90px;
              cursor: pointer; }
            .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo .single-photo-edit, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .single-photo-edit {
              position: absolute;
              top: 3%;
              right: 3%;
              width: 25px;
              height: 25px;
              cursor: pointer;
              background-color: #f2f2f2;
              border: 1px solid #4A4A4D;
              opacity: 0;
              -webkit-transition: all 0.2s ease;
              -moz-transition: all 0.2s ease;
              -o-transition: all 0.2s ease;
              -ms-transition: all 0.2s ease;
              transition: all 0.2s ease; }
              .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo .single-photo-edit:hover .edit-img-menu, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .single-photo-edit:hover .edit-img-menu {
                display: block; }
              .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo .single-photo-edit .edit-img-menu, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .single-photo-edit .edit-img-menu {
                position: absolute;
                display: none;
                top: 130%;
                right: 25%;
                background-color: #f2f2f2;
                line-height: normal;
                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.75); }
                .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo .single-photo-edit .edit-img-menu:before, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .single-photo-edit .edit-img-menu:before {
                  content: '';
                  position: absolute;
                  top: -5px;
                  left: 90%;
                  width: 0;
                  height: 0;
                  border-left: 2px solid transparent;
                  border-right: 2px solid transparent;
                  border-bottom: 5px solid #f2f2f2; }
                .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo .single-photo-edit .edit-img-menu:after, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .single-photo-edit .edit-img-menu:after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 10px;
                  top: -10px;
                  left: 0; }
                .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo .single-photo-edit .edit-img-menu .option, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .single-photo-edit .edit-img-menu .option {
                  display: block;
                  cursor: pointer;
                  padding: 5px 13px;
                  color: #313133;
                  white-space: nowrap;
                  text-transform: uppercase;
                  line-height: 13px; }
                  .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo .single-photo-edit .edit-img-menu .option:hover, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .single-photo-edit .edit-img-menu .option:hover {
                    background-color: #666666;
                    color: #FBAD30; }
              .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .single-photo .single-photo-edit .single-photo-edit-ico, .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .single-photo-edit .single-photo-edit-ico {
                margin-top: 4px; }
          .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target {
            border: 1px solid #000;
            height: 90px;
            width: 90px; }
            .settings.center-content .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .add-photo-ico {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
    .settings.center-content .settings-block .partner-search-container {
      padding: 15px; }
    .settings.center-content .settings-block .sticker-used-row, .settings.center-content .settings-block .stations-used-row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 10px 0;
      padding: 0 10px; }
      .settings.center-content .settings-block .sticker-used-row .sticker-place, .settings.center-content .settings-block .sticker-used-row .station-place, .settings.center-content .settings-block .stations-used-row .sticker-place, .settings.center-content .settings-block .stations-used-row .station-place {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        height: 131px;
        width: 131px;
        border-radius: 6px;
        background: #4A4A4D; }
        .settings.center-content .settings-block .sticker-used-row .sticker-place.empty, .settings.center-content .settings-block .sticker-used-row .station-place.empty, .settings.center-content .settings-block .stations-used-row .sticker-place.empty, .settings.center-content .settings-block .stations-used-row .station-place.empty {
          background: #4A4A4D url("../img/sticker-choose-bg.svg") no-repeat center;
          cursor: pointer; }
        .settings.center-content .settings-block .sticker-used-row .sticker-place .top-add, .settings.center-content .settings-block .sticker-used-row .station-place .top-add, .settings.center-content .settings-block .stations-used-row .sticker-place .top-add, .settings.center-content .settings-block .stations-used-row .station-place .top-add {
          color: #fff;
          padding: 0 30px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        .settings.center-content .settings-block .sticker-used-row .sticker-place .remove-sticker-pack, .settings.center-content .settings-block .sticker-used-row .sticker-place .remove-station, .settings.center-content .settings-block .sticker-used-row .station-place .remove-sticker-pack, .settings.center-content .settings-block .sticker-used-row .station-place .remove-station, .settings.center-content .settings-block .stations-used-row .sticker-place .remove-sticker-pack, .settings.center-content .settings-block .stations-used-row .sticker-place .remove-station, .settings.center-content .settings-block .stations-used-row .station-place .remove-sticker-pack, .settings.center-content .settings-block .stations-used-row .station-place .remove-station {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          cursor: pointer;
          z-index: 1; }
        .settings.center-content .settings-block .sticker-used-row .sticker-place .img-holder, .settings.center-content .settings-block .sticker-used-row .station-place .img-holder, .settings.center-content .settings-block .stations-used-row .sticker-place .img-holder, .settings.center-content .settings-block .stations-used-row .station-place .img-holder {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
          flex-shrink: 1;
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
          flex-flow: column wrap;
          position: relative;
          width: 100%;
          height: 100%; }
          .settings.center-content .settings-block .sticker-used-row .sticker-place .img-holder img, .settings.center-content .settings-block .sticker-used-row .station-place .img-holder img, .settings.center-content .settings-block .stations-used-row .sticker-place .img-holder img, .settings.center-content .settings-block .stations-used-row .station-place .img-holder img {
            max-width: 100px;
            max-height: 90px; }
          .settings.center-content .settings-block .sticker-used-row .sticker-place .img-holder > svg, .settings.center-content .settings-block .sticker-used-row .station-place .img-holder > svg, .settings.center-content .settings-block .stations-used-row .sticker-place .img-holder > svg, .settings.center-content .settings-block .stations-used-row .station-place .img-holder > svg {
            width: 130px;
            height: 50px; }
            .settings.center-content .settings-block .sticker-used-row .sticker-place .img-holder > svg g, .settings.center-content .settings-block .sticker-used-row .sticker-place .img-holder > svg path, .settings.center-content .settings-block .sticker-used-row .station-place .img-holder > svg g, .settings.center-content .settings-block .sticker-used-row .station-place .img-holder > svg path, .settings.center-content .settings-block .stations-used-row .sticker-place .img-holder > svg g, .settings.center-content .settings-block .stations-used-row .sticker-place .img-holder > svg path, .settings.center-content .settings-block .stations-used-row .station-place .img-holder > svg g, .settings.center-content .settings-block .stations-used-row .station-place .img-holder > svg path {
              fill: #fff; }
          .settings.center-content .settings-block .sticker-used-row .sticker-place .img-holder .station-name, .settings.center-content .settings-block .sticker-used-row .station-place .img-holder .station-name, .settings.center-content .settings-block .stations-used-row .sticker-place .img-holder .station-name, .settings.center-content .settings-block .stations-used-row .station-place .img-holder .station-name {
            color: #fff; }
      .settings.center-content .settings-block .sticker-used-row .station-place.empty, .settings.center-content .settings-block .stations-used-row .station-place.empty {
        background: #4A4A4D url("../img/station-choose-bg.svg") no-repeat center; }
    .settings.center-content .settings-block .sticker-preview-row, .settings.center-content .settings-block .stations-preview-row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      position: relative;
      max-height: 690px;
      overflow: auto;
      margin-right: -22px;
      padding: 0 0 10px 10px; }
      .settings.center-content .settings-block .sticker-preview-row .preview-place, .settings.center-content .settings-block .stations-preview-row .preview-place {
        position: relative;
        width: 131px;
        height: 131px;
        border-radius: 6px;
        padding-bottom: 16px;
        margin: 10px 12.5px 0 0;
        background: #F5F5F5; }
        .settings.center-content .settings-block .sticker-preview-row .preview-place.active, .settings.center-content .settings-block .stations-preview-row .preview-place.active {
          opacity: .65; }
        .settings.center-content .settings-block .sticker-preview-row .preview-place .img-holder, .settings.center-content .settings-block .stations-preview-row .preview-place .img-holder {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
          flex-shrink: 1;
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
          flex-flow: column wrap;
          position: relative;
          width: 100%;
          height: 100%; }
          .settings.center-content .settings-block .sticker-preview-row .preview-place .img-holder:hover .add-hover, .settings.center-content .settings-block .stations-preview-row .preview-place .img-holder:hover .add-hover {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-shrink: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer; }
          .settings.center-content .settings-block .sticker-preview-row .preview-place .img-holder img, .settings.center-content .settings-block .stations-preview-row .preview-place .img-holder img {
            max-width: 100px;
            max-height: 90px; }
          .settings.center-content .settings-block .sticker-preview-row .preview-place .img-holder svg, .settings.center-content .settings-block .stations-preview-row .preview-place .img-holder svg {
            width: 130px;
            height: 50px; }
          .settings.center-content .settings-block .sticker-preview-row .preview-place .img-holder .add-hover, .settings.center-content .settings-block .stations-preview-row .preview-place .img-holder .add-hover {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            text-decoration: underline;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.67);
            border-radius: 6px; }
            .settings.center-content .settings-block .sticker-preview-row .preview-place .img-holder .add-hover svg, .settings.center-content .settings-block .stations-preview-row .preview-place .img-holder .add-hover svg {
              margin: 0 5px;
              width: auto;
              height: auto; }
          .settings.center-content .settings-block .sticker-preview-row .preview-place .img-holder .station-name, .settings.center-content .settings-block .stations-preview-row .preview-place .img-holder .station-name {
            color: #4A4A4D;
            text-align: center; }
    .settings.center-content .settings-block .top-add {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      height: 16px;
      color: #313133;
      cursor: pointer;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      z-index: 1;
      overflow: hidden; }
    .settings.center-content .settings-block .bottom-add {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      height: 16px;
      background: #313133;
      color: #fff;
      cursor: pointer;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }
    .settings.center-content .settings-block .sticker-preview-row .preview-place .img-holder .add-hover {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .settings.center-content .settings-block .stations-preview-row .preview-place {
      padding-bottom: 0; }
      .settings.center-content .settings-block .stations-preview-row .preview-place.active {
        opacity: .65; }
    .settings.center-content .settings-block .sticker-preview-row .preview-place.active {
      opacity: .65; }
    .settings.center-content .settings-block.settings-soc .title {
      text-transform: uppercase;
      font-size: 14px;
      color: #313133;
      padding: 15px 0 10px; }
    .settings.center-content .settings-block.settings-soc .settings-soc-buttons {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%; }
      .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn {
        background-color: #e6e6e6;
        color: #313133;
        font-size: 14px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 200px;
        height: 55px;
        box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.2);
        position: relative;
        border-radius: 5px;
        cursor: pointer; }
        .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn svg {
          position: absolute;
          left: 9px;
          top: 8px; }
        .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn .gplus-ico {
          border-radius: 50%; }
        .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn.fb.active {
          background-color: #4e6ba8;
          color: #fff; }
          .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn.fb.active path {
            fill: #ffffff; }
        .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn.insta.active {
          background: url("../img/insta-bg.png") no-repeat -15px -15px;
          background-size: 200%;
          color: #fff; }
          .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn.insta.active path {
            fill: #ffffff; }
        .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn.twitter.active {
          background-color: #88addc;
          color: #fff; }
          .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn.twitter.active path {
            fill: #ffffff; }
        .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn.gplus.active {
          background-color: #dc4e41;
          color: #fff; }
          .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn.gplus.active svg path:first-child {
            fill: #dc4e41; }
          .settings.center-content .settings-block.settings-soc .settings-soc-buttons .settings-soc-btn.gplus.active svg path:last-child {
            fill: #fff; }
    .settings.center-content .settings-block.settings-soc .soc-input-line {
      display: flex;
      align-items: center;
      padding: 3px 0;
      width: 100%; }
      .settings.center-content .settings-block.settings-soc .soc-input-line .gplus-ico {
        border-radius: 50%; }
      .settings.center-content .settings-block.settings-soc .soc-input-line svg, .settings.center-content .settings-block.settings-soc .soc-input-line img {
        margin-right: 5px; }
      .settings.center-content .settings-block.settings-soc .soc-input-line input {
        border: 1px solid #666666;
        padding: 3px 8px;
        background-color: #f2f2f2;
        color: #313133;
        outline: none;
        flex: 1; }
    .settings.center-content .settings-block.settings-soc .soc-input-last-line {
      display: flex;
      align-items: center;
      padding: 3px 0;
      width: 100%; }
      .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-phone {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 50%; }
        .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-phone .title {
          -webkit-box-flex: 0 160px;
          -moz-box-flex: 0 160px;
          -webkit-flex: 0 160px;
          -ms-flex: 0 160px;
          flex: 0 160px; }
        .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-phone input {
          border: 1px solid #666666;
          padding: 3px 8px;
          background-color: #f2f2f2;
          color: #313133;
          outline: none;
          width: 200px; }
      .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-between;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 50%; }
        .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
          flex-shrink: 1;
          -webkit-align-items: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-shrink: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item svg, .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item img {
              margin-right: 5px;
              margin-left: 15px; }
            .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .check-container {
              width: auto;
              border-radius: 2px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              position: relative; }
              .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .check-container:hover {
                background-color: rgba(251, 173, 48, 0.5); }
              .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .check-container.radio-button .check-img {
                background: url(../img/radio-ms-ico.svg) no-repeat 0 0; }
              .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .check-container input {
                position: absolute;
                top: 5px;
                left: 5px;
                opacity: 0;
                z-index: -1;
                width: 1px;
                height: 1px; }
              .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .check-container input:checked + label .check-img {
                background-position: 0px -21px; }
              .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .check-container label {
                position: relative;
                height: 100%;
                cursor: pointer;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-shrink: 1;
                -ms-flex-negative: 1;
                flex-shrink: 1; }
              .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .check-container .check-img {
                width: 20px;
                height: 20px;
                display: block;
                vertical-align: middle;
                background: url(../img/checkbox-ms-ico.svg) no-repeat 0 0; }
            .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .info-parameter {
              -webkit-box-flex: 1 auto;
              -moz-box-flex: 1 auto;
              -webkit-flex: 1 auto;
              -ms-flex: 1 auto;
              flex: 1 auto;
              color: #999;
              text-align: left; }
              .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .info-parameter[contenteditable=true]:empty {
                background-color: #fff; }
                .settings.center-content .settings-block.settings-soc .soc-input-last-line .soc-msg .soc-msg-container .soc-msg-item .info-parameter[contenteditable=true]:empty:before {
                  color: #999; }

/*# sourceMappingURL=2.2.11.page-settings.css.map */
