@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.my-comments.center-content {
  position: relative;

  .comments-box {
    max-height: 100%;
    overflow: auto;
    padding: 10px;

    .comment {
      @include related-comment-construct;
    }
  }
}