$black: #000;
$white: #fff;
$rose: #9500FF;
$blue-light: #498288;
$gray-light: #E9ECF2;
$gray-second: #F4F5F6;
$green-dark: #7EAFB4;
$blue: #0081D1;
$green: #39AE4A;
$orange: #FF9306;
$red: #FF0000;
$border-gray: #D4D5D6;
$open-sans: 'Open Sans', sans-serif;
$procent: 100px;