body {
  font-family: 'Roboto','Open Sans','Helvetica Neue',sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 13px;
}


input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}


.table-domains_item::-webkit-scrollbar {
  width: 5px;
}

.table-domains_item::-webkit-scrollbar-track {
  background-color: #E6E6E6;
}

.table-domains_item::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #5D5D5D;
}


.main-wrapper {
  width: 97%;
  margin: 0 auto;
}

table {
			width: 500px;
			margin: 100px auto 0 auto;
			border-spacing: 10px 10px;
		}

		tr {
			display: flex;
			align-items: center;
      background-color: #f2f2f2;
      margin-bottom: 3px;
      border-radius: 5px;
		}

		td {
      position: relative;
			display: flex;
			align-items: center;
      /*justify-content: space-around;*/
			/*border-left: 1px solid black;*/
			/*padding: 0 10px;*/
      font-size: 13px;
			width: 100px;
      height: 25px;
      background-color: #f2f2f2;
      border-radius: 5px;
		}

    td:after {
      content: '';
      display: block;
      position: absolute;
      right: 10px;
      height: 20px;
      width: 1px;
      background-color: black;
    }

    td:first-child:after {
      display: none;
    }

    td:last-child:after {
      display: none;
    }
    

    li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active-company {
  display: block !important;
}

.creat-company_active {
  background-color: #313133 !important;
  color: #E6C12E !important;
}

.delete-company_active {
  background-color: #E10000 !important;
}

.svg-active {
  display: block !important;
}

.svg-active2 {
  display: none !important;
}

.panel-item_link:after {
  background-color: #D4D4D4;
}

.panel-item_active {
  fill: #000;
}

.active:after {
  content: '';
  display: block;
  position: absolute;
  top: 38px;
  width: 100%;
  height: 3px;
  background-color: #E6C12E;
  z-index: 1;
}

.active-button {
  display: block;
  background-color: #313133 !important;
  color: #E6C12E !important;
}

.active-button2 {
  display: block !important;
  background-color: #313133 !important;
  color: #E6C12E !important;
}

.active-buttons_table {
  color: #ffffff !important;
  background-color: #E6C12E !important;
  box-shadow: 0 2px 8px -3px #000000;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.check-active {
  position: absolute;
  top: 3px;
  left: 0;
  display: none;
  cursor: pointer;
}

.check-active2 {
  display: block;
}

.buttons-table {
  position: relative;
  display: flex;
  margin: 40px 0 20px 15px;
}

.buttons-table:before {
  content: '';
  display: block;
  position: absolute;
  top: -15px;
  right: 0;
  width: 101.7%;
  height: 1px;
  background-color: #6E6E6E;
}

.buttons-table button{
  width: 125px;
  height: 25px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: none;
  color: #313133;
  cursor: pointer;

}

.active-buttons_table {
    color: #ffffff !important;
    background-color: #E6C12E !important;
    box-shadow: 0 2px 8px -3px #000000;
}

p:last-child {
  margin-left: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 25px;
  overflow: visible;
  text-transform: none;
  margin: 0;
  font: inherit;
  color: inherit;
  -webkit-appearance: button;
  cursor: pointer;
  line-height: inherit;
  color: #ffffff;
  background-color: #E6C12E;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-right: 10px;
}

button:last-child {
  margin-right: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 16px;
  border-radius: 45px;
  margin: 0 10px 0 10px;
}



.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FB0019;
    -webkit-transition: .4s;
    transition: .4s;
  }

.slider:before {
  position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    top: 2px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
    border-radius: 34px;
}

.slider.round {
  border-radius: 34px;
}

input:checked + .slider {
  background-color: #56BF1A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #56BF1A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16.5px);
  -ms-transform: translateX(16.5px);
  transform: translateX(16.5px);
}

.con:before {
      content: 'on';
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 9px;
    color: #ffffff;
}

.con:after {
  content: "off";
    position: absolute;
    top: 3px;
    left: 20px;
    font-size: 9px;
    color: #ffffff;
}

.date {
  width: 1000px;
  margin: 60px auto -60px auto;
}

.date ul {
  position: relative;
  width: 100%;
  left: -45px;
  display: flex;
  justify-content: space-between;
}

.date ul:after {
  content: '';
  position: absolute;
  top: 38px;
  width: 1000px;
  height: 3px;
  background-color: #D4D4D4;
}

.list-active {
  position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #6E6E6E;
    cursor: pointer;
}

.company-item {
  width: 300px;
  border-left: none;
  padding-left: 10px;
  box-sizing: border-box;
}

.company-item_link {
  background-color: #E6C12E;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
    color: white;
    height: 20px;
    width: 130px;
    box-sizing: border-box;
    border-radius: 15px;
}

.creat-company_items {
  display: none;
  flex-direction: column;
  margin-top: 20px;
  background-color: #fff;
}

.creat-company_data {
  width: 98%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.creat-company_data:after {
  display: none;
}

.creat-company_data input {
  width: 47%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #E6C12E;
  outline: none;
  text-indent: 1em;
}

.creat-company_button {
  justify-content: flex-end;
    display: flex;
    width: 98%;
    margin: 10px 0;
    background-color: #fff;
}

.domains {
  position: relative;
}

.domains:after {
  content: '';
  display: block;
  position: absolute;
  width: 98.5%;
  height: 1px;
  background-color: #cccccc;
}

.formats {
  position: relative;
}

.formats:after {
  content: '';
  display: block;
  position: absolute;
  width: 98.5%;
  height: 1px;
  background-color: #cccccc;
}


.tabs {
  position: relative;
  margin-top: 20px;
  margin-bottom: -30px;
}

.tabs:before {
  content: '';
  display: block;
  position: absolute;
  left: 11px;
  width: 98%;
  height: 1px;
  background-color: #cccccc;
  z-index: 1;
}

.tabs tr {
  background-color: #fff;
}

.tabs td {
  background-color: #fff;
}

.tabs td:after {
  display: none;
}

/*.tabs:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #6E6E6E;
}*/

.tabs-item {
  position: relative;
  display: flex;
  width: 300px;
  margin: -10px auto 20px 0;
}

.but {
  margin-right: 10px;
  border-radius:  0 0 3px 3px;
}

.but:last-child {
  margin-right: 0;
}

svg {
  cursor: pointer;
}

.table-domains {
  display: none;
  margin-top: 20px;
}

.table-domains .table-domains_item {
  width: 426px;
  height: 337px;
  border: 1px solid #D4D4D4;
  overflow-y: scroll;
}

.table-domains .table-domains_item:last-child {
  overflow-y: visible;
}

.table-domains .table-domains_item ul {
  margin-bottom: 20px;
}

.table-domains .table-domains_item ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.table-domains .table-domains_item:last-child ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formats-table {
  width: 858px;
  margin: 0 auto;
  /*position: absolute;*/
  /*top: 0;*/
  display: none;
  border-top: 1px solid #6E6E6E;
  margin-top: 50px;
}

.formats-table .formats-table_button {
  display: flex;
  justify-content: space-between;
}

.table-buttons {
    display: flex;
}

.cross {
    position: relative;
    bottom: 30px;
    cursor: pointer;
}

.formats-table_search {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.formats-table_search input {
  width: 295px;
  border: 1px solid #D4D4D4;
  outline: none;
  border-radius: 10px;
  padding: 5px 0;
  text-indent: 1em;
}

.formats-table_search .formats-table_search-button {
  display: flex;
}

.formats-table_search-button button {
  width: 175px;
  margin-right: 12px;
  border-radius: 2px;
  border: none;
  outline: none;
  background-color: #E6C12E;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 8px -3px #000000;
}

.formats-table_item {
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F1EEEE;
    border-radius: 2px;
}

.formats-table_item input {
    width: 285px;
    height: 28px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    text-indent: 1em;
}

.formats-table_item img {
  margin: 0 -80px 0 25px;
}

.formats-table_item-button {
  width: 275px;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}

.formats-table_item-button button:last-child {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6E6E6E;
}

.table-devices {
  display: none;
  margin: 20px 0;
}

.table-devices .table-devices_item {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-devices .table-devices_item select {
  width: 100px;
  height: 30px;
  padding: 5px;
  background-color: #E6C12E;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}