<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Партія «НАШІ» - для тих, хто шукає конструктивний шлях виходу із ситуації, в якій опинилася Україна. Робіть. Боріться. Об'єднуйтесь!">
	<meta name="Keywords" content="Політична партія Наші 2018, Євген Мураєв, лідер України, партія Мураєва, кандидат, проект Мураєва, мир на Донбассі, партія Мураєва Наші, Україна, лідер партії, команда Мураєва.">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KQW2CHW');</script>
<!-- End Google Tag Manager -->
	<title>Політична партія «НАШІ» - наш час настав!</title>
	<link rel="shortcut icon" type="img/ico" href="img/favicon.ico">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="icon/icon.css">
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQW2CHW"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->	

<!-- HEADER -->

<header>
  	<div class="button-main">
       	<a href="/">на головну</a>
    </div>
</header>

<!-- MAIN -->
<div class="wrapper-content">
	<div class="petition">
			<div class="petition-text">
				<div class="quotes-up2">
					<img src="img/quotes_up2.png" alt="">
				</div>
				<p>В такий не спокійний час для нашої країни звертаюся до Вас та Служби Безпеки України з проханням.</p>
				<p>Партія Наші єдина, послідовна партія в нашій країні. Ми виступаємо за позаблоковість України і розвиток нашої держави самостійним шляхом. Зараз, ні чинне керівництво країни ні СБУ ніяк не реагує на проросійських політиків, а діють проти нас з вами - людей, які хочуть кращого майбутнього для Украни. <span class="pt">Я, Евгеній Мураев, прошу ВАС підтримати нас і нашу петицію про перевірку Службою Безпеки України всіх посібників російського режиму в Україні.</span> Просимо СБУ перевірити антиукраїнських політиків, які безкарно підривають політичний процес в державі.</p>
				<p>Разом ми зможемо добитися справедливості та відкрити очі всім, на реальних проросійських політиків при владі!</p>
				<div class="muraev">
					<div class="muraev-text">
						<h6>Євгеній Мураєв</h6>
						<p>лідер політичної партії НАШІ</p>
					</div>
					<div class="muraev-signature">
						<img src="img/muraev-signature.png" alt="">
					</div>
				</div>
			</div>
		</div>

  <!-- FORM -->
	<div class="form-info">
		<h5>підтримай петицію до СБУ зараз!</h5>
		<p>Наш час настав!</p>
		<div class="shape">
			<img src="img/Shape2.png" alt="">
		</div>
		<div class="form-info_contact">
			<form action="#">
				<div class="first-info">
					<div class="profile">
						<label for="fullName"><img src="img/Man.png" alt=""></label>
						<input type="text" placeholder="ПІП" id="fullName" required>
					</div>
					<div class="calendar">
						<label for="birthDate"><img src="img/Calendar.png" alt=""></label>
						<input type="text" placeholder="Дата народження" id="birthDate">
					</div>
				</div>
				<div class="second-info">
					<div class="phone">
						<label for="phone"><img src="img/Phone_2.png" alt=""></label>
						<input type="tel" placeholder="Ваш телефон" id="phone">
					</div>
					<div class="email">
						<label for="email"><img src="img/Email.png" alt=""></label>
						<input type="email" placeholder="Ваш e-mail" id="email" required>
					</div>
				</div>
			</form>
		</div>
		<button id="send-contacts">відправити <img src="img/up-form.png" alt=""></button>
		<div class="warning-text"><p>* Залишаючі Ваші контактні данні, Ви даєте згоду на їх обробку, та отримання інформаційних матеріалів.</p></div>
	</div>



<!-- VIDEO -->
	<div class="video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Wvy-_IvFsak?autoplay=1;rel=0&amp;controls=0&amp;showinfo=0"" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="mw-100"></iframe>
	</div>	
</div>

<%- include('footer') -%>
