@font-face{
	font-family: SegoeUI;
	src: url(../fonts/SegoeUI.ttf);
}

@font-face{
	font-family: SegoeUI-Bold;
	src: url(../fonts/SegoeUI-Bold.ttf);
}

@font-face{
	font-family: Montserrat-Regular;
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
	font-family: Montserrat-Bold;
	src: url(../fonts/Montserrat-Bold.ttf);
}