@media screen and (min-width: 320px) {
  /* RIBBON */
  .ribbon {
    width: 100%;
    margin-top: 350px;
    text-align: center; }
    .ribbon button {
      width: 60%;
      margin-top: 17px;
      border-radius: 20px;
      outline: none;
      border: 2px solid #000000;
      background-color: #ffffff;
      padding: 13px 50px 9px 50px;
      font-family: SegoeUI-Bold, sans-serif;
      font-size: 14px;
      text-transform: uppercase; }
      .ribbon button:hover {
        background-color: #2b2a2c;
        color: #ffffff; }
    .ribbon figure {
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 0 6px #a3a3a4; }
      .ribbon figure:last-child {
        margin-bottom: none; }
      .ribbon figure img {
        border-radius: 10px 10px 0 0; }
      .ribbon figure figcaption {
        padding: 15px 20px 10px 10px;
        border-radius: 0 0 5px 5px;
        text-transform: uppercase;
        text-align: left; }
        .ribbon figure figcaption h4 {
          font-family: Montserrat-Regular, sans-serif;
          font-size: 12px;
          line-height: 2.5; }
        .ribbon figure figcaption p {
          font-family: Montserrat-Bold, sans-serif;
          font-size: 16px; }

  /* CONTACT */
  .contact {
    margin-top: 350px;
    font-family: SegoeUI-Bold, sans-serif;
    font-size: 26px;
    text-align: center; }

  .contact-tel a {
    letter-spacing: 1px; }

  .contact-social_icon {
    width: 250px;
    margin: 14px auto; }
    .contact-social_icon li {
      margin-top: 15px;
      height: 50px;
      width: 250px;
      background: url(../img/soc-cont.png) no-repeat; }
    .contact-social_icon .wts {
      background-position: 0 -66px; }
    .contact-social_icon .teleg {
      background-position: 0 -132px; }
    .contact-social_icon .fas {
      background-position: 0 -198px; }
    .contact-social_icon .inst {
      background-position: 0 -264px; }

  /* ABOUT */
  .about {
    margin: 360px auto 0 auto; }
    .about h2 {
      font-family: SegoeUI-Bold, sans-serif;
      font-size: 45px;
      color: #000000;
      text-transform: uppercase; }
    .about h3 {
      margin: 0 0 40px 20px;
      font-family: SegoeUI-Bold, sans-serif;
      font-size: 65px;
      color: #dedede;
      text-transform: uppercase; }
    .about p {
      font-family: SegoeUI, sans-serif;
      font-size: 18px;
      color: #6a696b; } }
@media screen and (min-width: 375px) {
  .about h2 {
    font-size: 50px; }
  .about h3 {
    font-size: 70px; }
  .about p {
    font-size: 24px; } }
@media screen and (min-width: 411px) {
  .ribbon button {
    font-size: 24px; } }
@media screen and (min-width: 568px) {
  figure figcaption {
    border-radius: 20px; }
    figure figcaption img {
      border-radius: 20px 20px 0 0; }
    figure figcaption h4 {
      font-size: 18px; }
    figure figcaption p {
      font-size: 22px; } }
@media screen and (min-width: 768px) {
  figure figcaption h4 {
    font-size: 24px; }
  figure figcaption p {
    font-size: 28px; }

  .about h2 {
    font-size: 60px; }
  .about h3 {
    font-size: 80px; }
  .about p {
    font-size: 30px; } }

/*# sourceMappingURL=mobile.css.map */
