@import 'vars';

@media screen and (min-width: 320px){
	
.ribbon {
	width: 100%;
	margin-top: 30px;
	button {
		width: 60%;
		margin-left: 20%;
		margin-top: 17px;
		border-radius: 20px;
		outline: none;
		border: 2px solid $black;
		background-color: $white;
		padding: 13px 50px 9px 50px;
		font-family: $ffsb;
		font-size: 14px;
		text-transform: uppercase;
		&:hover{
			background-color: #2b2a2c;
			color: $white;
		}
	}
	figure{
		margin-bottom: 35px;
		box-shadow: 0 0 6px #a3a3a4; 
		&:last-child{
			margin-bottom: none;
		}

		figcaption {
			padding: 15px 20px 10px 10px;
			border-radius: 0 0 5px 5px;
			text-transform: uppercase;
		h4{
			font-family: $ffm;
			font-size: 12px;
			line-height: 2.5;
		}
		p{
			font-family: $ffmb;
			font-size: 16px;
		}
		}
	}
}

/* CONTACT */
  .contact {
    margin-top: 30px;
    font-family: SegoeUI-Bold, sans-serif;
    font-size: 26px;
    text-align: center;
  }

  .contact-social_icon {
    width: 95%;
    margin: 0 auto;
    ul {
    	width: 100%;
    	margin: 0 auto;
    	li {
    	margin-top: 15px;
    	height: 50px;
    	width: 100%;
    	background: url(../img/soc-cont.png) no-repeat;
    	background-position: 0px -66px;
  	}
    }
    .vb {
    	background-position: 0 0;
  	}
  	.inst {
   	 	background-position: 0 -264px;
  	}
  	.fas {
    	background-position: 0 -198px;
  	}
  	 .teleg {
    	background-position: 0 -132px;
  	}
  }
 

  /* ABOUT */
  .about {
    margin: 30px auto 0 auto;
    padding: 17px;
    h2 {
    font-family: SegoeUI-Bold, sans-serif;
    font-size: 45px;
    color: #000000;
    text-transform: uppercase;
  	}
  	h3 {
    margin: 0 0 40px 20px;
    font-family: SegoeUI-Bold, sans-serif;
    font-size: 65px;
    color: #dedede;
    text-transform: uppercase;
  	}
  	p {
    font-family: SegoeUI, sans-serif;
    font-size: 18px;
    color: #6a696b;
  }
  } 
}

@media screen and (min-width: 360px){
	.contact-social_icon{
		ul{
			width: 90%;
		}
	}
}

@media screen and (min-width: 375px){
	.contact-social_icon{
		ul{
			width: 86%;
		}
	}
}


@media screen and (min-width: 411px){
	
	.ribbon {
		button {
			font-size: 24px;
		}
	}

	.contact-social_icon{
		ul{
			width: 78%;
		}
	}

}

@media screen and (min-width: 568px){
	figure {
		figcaption {
			border-radius: 20px;
		img{
			border-radius: 20px 20px 0 0;
		}
		h4 {
			font-size: 18px;
		}
		p {
			font-size: 22px;
		}
	}
}
	.contact-social_icon{
		ul{
			width: 57%;
		}
	}
}

@media screen and (min-width: 640px){
	.contact-social_icon{
		ul{
			width: 50%;
		}
	}
}

@media screen and (min-width: 667px){
	.contact-social_icon{
		ul{
			width: 48%;
		}
	}
}

@media screen and (min-width: 731px){
	.contact-social_icon{
		ul{
			width: 44%;
		}
	}
}


@media screen and (min-width: 768px){

	figure {
		
		figcaption {

		h4 {
			font-size: 24px;
		}
		p {
			font-size: 28px;
		}
	}
	}

	.contact-social_icon{
		ul{
			width: 42%;
		}
	}
}

@media screen and (min-width: 812px){
	.contact-social_icon{
		ul{
			width: 40%;
		}
	}
}

@media screen and (min-width: 823px){
	.contact-social_icon{
		ul{
			width: 39%;
		}
	}
}

@media screen and (min-width: 1024px){
	.contact-social_icon{
		ul{
			width: 32%;
		}
	}
}

@media screen and (min-width: 1366px){
	.contact-social_icon{
		ul{
			width: 24%;
		}
	}
}