/* GENERAL STYLE */

@font-face{
	font-family: SegoeUI;
	src: url(../fonts/SegoeUI.ttf);
}

@font-face{
	font-family: SegoeUI-SemiBold;
	src: url(../fonts/SegoeUI-SemiBold.ttf);
}


@font-face{
	font-family: SegoeUI-Bold;
	src: url(../fonts/SegoeUI-Bold.ttf);
}



body{
	font-family: SegoeUI,sans-serif;
	font-size: 16px;
	color:#000000;
	background-color: #F2F2F2;
	overflow-x: hidden;
}


ul{
	margin:0;
	padding:0;
}

a{
	text-decoration: none;
	color:#000000;
}

li{
	list-style: none;
}

img{
	cursor: pointer;
}



/* HEADER */

.wrapper-top{
	width: 1155px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin:0 auto;
}


header{
	width: 100%;
	padding:15px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #f0f0f0;
	box-shadow: 0 0 10px #f0f0f0;
}

/* TOP-MENU */

.img{
	height: 26px;
	width: 27px;
	margin-right: -35px;
}


#navMenu{
	width: 33px;
	height: 33px;
}


.block{
	width: 11px;
	height: 11px;
	float: left;
	border:1px solid #ffffff;
	box-sizing: border-box;
}

.responsive ul{
	display: flex;
	justify-content: space-around;
	text-transform: uppercase;
	background-color:#4c00d1;
	margin:0 auto;
	width: 1127px;
	color:#ffffff;
	font-size: 14px;
}


.responsive ul a{
	color:#ffffff;
}

.responsive ul a:hover{
	font-weight: bold;
}

.topnav a{
	display: none;
	font-weight: normal;
}


.logo{
	width:64px;
	height: 64px;
	margin-right: 65px;
	transition: box-shadow 1s;
}

.logo:hover{
	box-shadow: 0 0 15px #4c00d1;
}

.top-hashtag{
	margin-right: 20px;
}

.top-hashtag a{
	font-family: SegoeUI-Bold, sans-serif;
	font-size: 14px;
	color:#000000;
	transition: color 1s;
}

.top-hashtag a:hover{
	color:#4c00d1;
}

ul li a{
	display: block;
	padding: 13px 0;
}

/* FORM SEARCH */


.icon-search{
	position: relative;
	top:-5px;
	right:6px;
	font-size: 24px;
	cursor: pointer;
	margin-left: 5px;
}


.form-group{
	width:408px;
	margin-right:30px;
	border-bottom: 2px solid #cacaca;
}


.search input[type="search"]{
	border:none;
	outline: none;
	width: 375px;
}



/* MENU SEARCH*/


.autocomplete {
	display: none;
	position:absolute;
	top:62px;
	width:407px;
	height:175px;
	background-color: #ffffff;
	padding-left:40px;
	box-sizing: border-box; 
	box-shadow:0 0 5px grey;
	overflow-y: scroll;
}



.search-field:focus + .autocomplete{
	display: block;
}

.autocomplete a{
	font-weight: bold;
	text-decoration: underline;
}




/* VIDEOS */

.wrapper-page_photo{
	width: 1130px;
	margin: 0 auto;
}

.photo-page_content{
	display:flex;
	justify-content: space-between;
}


.photo{
	width: 1130px;
	margin:16px auto;
	background-color:#ffffff;
	box-sizing: border-box;
	padding: 2px 0 2px 20px;
	cursor: pointer;
}

.photo h4{
	font-family: SegoeUI-Bold,sans-serif;
	font-size:18px;
	text-transform: uppercase;
	color:#4c00d1;
}



/* PHOTO BLOCKS*/

.photo-block{
	width: 365px;
	background-color:#ffffff;
	padding-bottom:5px;
	margin-bottom:17px;
}

.description-photo{
	margin-left: 16px;
}

.photo-title a{
	font-family: SegoeUI-Bold, sans-serif;
	font-size: 21px;
	line-height: 1.4;
	transition: color 1s;
}

.photo-title a:hover{
	color:#4c00d1;
}

/* HASHTAG */

.hashtag{
	margin:16px 0 14px 0;
}

.hashtag-photo{
	display: flex;
}

.hashtag-photo a{
	font-weight: bold;
	color:#ffffff;
}


.hashtag-photo li{
	background-color: #4c00d1;
	padding: 0 8px;
	margin-right: 8px;
	transition: box-shadow 1s;
}

.hashtag-photo li:hover{
	box-shadow: 0 0 15px #4c00d1;
}

.hashtag-photo li:last-child{
	margin-right: 0;
}


/* DATE PHOTO */

.date-photo p{
	font-family: SegoeUI-SemiBold, sans-serif;
	font-size:14px;
}


/* FOOTER */

.wrapper-footer{
	width:1130px;
	margin:0 auto;
}


footer{
	width: 100%;
	margin-top:16px;
	background-color:#2e2943;
	padding: 77px 0 25px 0;
	text-align: center;
}

.menu{
	display: flex;
	justify-content: space-around;
	margin:0 auto;
	width: 990px;
}

.menu a{
	font-size: 18px;
	font-weight: bold;
	color:#ffffff;
	text-transform: uppercase;
	transition: color 1s;
}

.menu a:hover{
	color:#7a47c3;
}

.foot-info{
	width: 1105px;
	margin: 50px 0 40px 0;
}

.foot-info p{
	font-size: 18px;
	color:#959595;
	line-height: 1.5;
}

/* SOCIAL SPRITE */

.social-icon{
	margin-bottom:40px;
}

.social-icon ul{
	display: flex;
	justify-content: space-around;
	width: 260px;
	margin:0 auto;
}

.icon a{
	font-size: 32px;
	color:#ffffff;
	transition: color 1s;
}

.icon a:hover{
	color:#ababab;
}


.copy{
	font-size: 18px;
	font-weight: bold;
	color:#ffffff;
}