@import 'vars';
@import 'fonts';

*{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* HEADER */
.background {
	width: 100%;
	height: 450px;
	background: url("../img/logo.png")no-repeat center #046fa3;
	background-size: 70%;
	padding: 75px 0 160px 0;
	.button-main {
		width: 300px;
    	margin: 515px auto 0 auto;
    	padding-bottom: 38px;
    	background-color: #ffffff;
    	padding: 22px 45px;
    	border-radius: 10px;
    	box-sizing: border-box;
    	text-align: center;
    	&:hover {
    		background-color:#1377be ;
    		color: #ffffff;
    	}
	a {
		font-family: $ffnb;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: #1377be;
		text-decoration: none;
		&:hover {
			color: #ffffff;
		}
	} 
}
	.button-petition {
		width: 505px;
    	margin: 515px auto 0 auto;
    	padding-bottom: 38px;
    	background-color: #ffffff;
    	padding: 22px 45px;
    	border-radius: 10px;
    	box-sizing: border-box;
    	text-align: center;
    	animation: glowing 1500ms infinite;
    	a {
			font-family: $ffnb;
			font-size: 25px;
			font-weight: bold;
			color: #ffffff;
			letter-spacing: 4px;
			text-transform: uppercase;
			text-decoration: none;
	} 
}
}

@keyframes glowing { 
  0% { background-color: #054775; box-shadow: 0 0 2px #074673; } 
  50% { background-color: #1082d4; box-shadow: 0 0 9px #0e87de; } 
  100% { background-color: #074b7b; box-shadow: 0 0 2px #094d7d; } 
} 

