
@font-face{
	font-family: Impact;
	src:url('fonts/Impact.ttf');
}

body{
	background-color: #000000;
}


.wrapper{
	width: 1800px;
	max-height: 1080px;
	background-color: #000000;
	padding-top: 53px;
}

.logo{
	width: 230px;
	height: 54px;
	opacity: 0.72;
	float: right;
	margin-right:45px;
}

.welcome{
	width: 700px;
	height: 308px;
	position:absolute;
	top:175px;
	left: 238px;
}


.vengeful-spirit{
	position: absolute;
	top:116px;
	left: 1019px;
}

.smoke{
	width: 1360px;
	height: 751px;
	position: absolute;
	top:329px;
	left: 22px;

}

.register{
	position: absolute;
	top:266px;
	left: 243px;
	width: 662px;
	height: 193px;
	box-shadow: 0 0 140px 0 #ffffff;
	border-radius: 8px;
}


.register button{
	display: block;
	width: 662px;
	height: 193px;
    outline: none;
    border:none;
    background-image: linear-gradient(to top, #29130e 0%, #ee766c 68%, #de3b24 100%);
    text-shadow: 0 0 5px #ffffff;
    border-radius: 8px;
	color: #fefefe;
	font-family: Impact;
	font-size: 62px;
	font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}

.mw-100{
	width: 100%;
}


@media screen and (max-width:1024px){
	
	.wrapper{
		width: 100%;
	}


	.mw-100{
		width: 100%;
	}

	.logo{
		float:left;
		margin-left: 20px;
	}

	.welcome{
		top:50px;
		left: 160px;
	}
	
	.smoke{
		top:250px;
	}

	.register{
		left: 180px;
	}

	.vengeful-spirit{
		top:800px;
		left: 150px;
	}
}

@media screen and (max-width:768px){

		.mw-100{
			width: 60%;
		}

		.mw-101{
			width:80%;
		}

		.logo{
			margin-left: 260px;
		}

		.welcome{
			top:200px;
		}

		.register{
			width: 30%;
			height: 50px;
			top:-350px;
			left:325px;
		}

		.register button{
			width: 100%;
			height: 50px;
			font-size:32px;
		}

		.smoke{
			top:850px;
			left:-150px;
		}

		.vengeful-spirit{
			top:650px;
		}
}


@media screen and (max-width:414px){
	
	.mw-100{
		width: 40%;
	}

	.mw-101{
		width: 80%;
	}

	.logo{
		margin-left: 80px;
	}

	.welcome{
		top:170px;
		left: 50px;
	}

	.register{
		width: 20%;
		height: 50px;
		top:-170px;
		left:190px;
		box-shadow: 0 0 60px 0 #ffffff;
	}

	.register button{
		width: 100%;
		height: 50px;
		font-size:22px;
		text-shadow: 0 0 35px #ffffff;
	}
	.smoke{
		top:530px;
		left:-130px;
	}

	.vengeful-spirit{
		top:450px;
		left:100px;
	}
}

@media screen and (max-width:375px){

	.logo{
		margin-left: 70px;
	}
	
	.welcome{

		left: 30px;
	}

	.register{
		top:-150px;
		left:190px;
	}

	.smoke{
			top:500px;
			left:-150px;
		}
}


@media screen and (max-width:320px){

		.mw-100{
			width: 30%;
		}

		.mw-102{
			width: 80%;
		}

		.logo{
			margin-left:60px;
		}

		.welcome{
			left: 50px;
		}
		
		.register{
			width: 14%;
			height: 50px;
			top:-180px;
			left:150px;
			box-shadow: 0 0 20px 0 #ffffff;
		}
		
		.register button{
			width: 100%;
			height: 50px;
			font-size:15px;
			text-shadow: 0 0 25px #ffffff;
		}

		.smoke{
			left:-80px;
		}
}