@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
body {
  background: #fafafa; }

span.id-main {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background: #9500FF;
  padding: 0 3px;
  margin-right: 3px;
  text-transform: uppercase;
  color: #fff !important;
  margin-bottom: 0;
  border-radius: 0; }

.full-height-row {
  min-height: calc(100vh - 53px); }

.user-avatar-holder {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #B3B4B4;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px 0 0; }
  .user-avatar-holder img {
    max-height: 100%;
    max-width: 100%; }

.cam-off {
  position: relative;
  display: flex;
  align-items: center;
  display: none; }
  .cam-off:before {
    content: "off";
    color: #fff;
    font-size: 10px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 2px;
    font-weight: normal;
    text-transform: none; }
  .cam-off svg path {
    fill: #646464; }

.cam-on {
  position: relative;
  display: flex;
  align-items: center;
  display: none; }
  .cam-on:before {
    content: "on";
    color: #fff;
    font-size: 10px;
    position: absolute;
    transform: translateY(-50%);
    top: 47%;
    left: 3px;
    font-weight: normal;
    text-transform: none; }
  .cam-on svg path {
    fill: #9500FF; }

.translation {
  border: none;
  z-index: 2; }
  .translation .ui-icon-gripsmall-diagonal-sw {
    background: url("../img/resize.svg") no-repeat center/contain; }
  .translation .ui-resizable-sw {
    bottom: 5px;
    left: 5px;
    height: 18px;
    width: 18px;
    z-index: 3; }

header .container.px-1.py-2 {
  position: relative; }

.right-side-camera-holder {
  position: absolute;
  right: 0;
  top: calc(53px + 0.6rem);
  height: calc(100vh - 53px - 0.6rem); }
  .right-side-camera-holder h3 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #9500FF;
    display: block;
    width: 285px;
    z-index: 1;
    padding: 10px 0;
    margin-bottom: 0;
    background: #f7f7f7;
    position: relative; }
    .right-side-camera-holder h3 span {
      position: relative;
      left: -27px; }
  .right-side-camera-holder .cam-status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 1px #D4D5D6;
    cursor: pointer;
    position: absolute;
    width: 69px;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0; }
    .right-side-camera-holder .cam-status:before {
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      content: "Show/hide";
      font-family: "Open Sans", sans-serif;
      color: #4d4d4d;
      font-size: 10px;
      font-weight: normal;
      text-transform: none;
      color: #CD0061; }
    .right-side-camera-holder .cam-status figure {
      margin: 0;
      margin-top: -10px; }
    .right-side-camera-holder .cam-status svg path {
      fill: #CD0061; }
    .right-side-camera-holder .cam-status .cam-on {
      display: block; }
    .right-side-camera-holder .cam-status svg path {
      fill: #CD0061; }
    .right-side-camera-holder .cam-status .cam-on {
      display: block; }
    .right-side-camera-holder .cam-status:hover svg path {
      fill: #EB2C86; }
    .right-side-camera-holder .cam-status:hover:before {
      color: #EB2C86; }
    .right-side-camera-holder .cam-status:active svg path {
      fill: #BC015A; }
    .right-side-camera-holder .cam-status:active:before {
      color: #BC015A; }

.right-side-camera {
  height: calc(100vh - 53px - 0.6rem - 44px);
  overflow-y: auto;
  display: block; }
  .right-side-camera.hide {
    display: none; }
  .right-side-camera::-webkit-scrollbar {
    display: none; }
  .right-side-camera .block-camera-link {
    display: block; }
  .right-side-camera .block-camera {
    position: relative;
    width: 285px;
    height: 278px; }
    .right-side-camera .block-camera object {
      width: 285px;
      height: 213px;
      display: block; }
    .right-side-camera .block-camera .block-camera-footer {
      background: #ECECEC;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: solid 5px #9500FF;
      padding: 10px 0; }
      .right-side-camera .block-camera .block-camera-footer figure {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 5px solid #fff;
        height: 70px;
        width: 70px;
        margin: 5px;
        margin-top: -50px;
        overflow: hidden; }
        .right-side-camera .block-camera .block-camera-footer figure img {
          height: 100%;
          width: auto; }
      .right-side-camera .block-camera .block-camera-footer p {
        color: #43444F;
        margin-left: 10px;
        font-size: 15px;
        margin-bottom: 0; }
        .right-side-camera .block-camera .block-camera-footer p:first-of-type {
          font-weight: bold; }

.purchase-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center; }
  .purchase-holder button.purchase {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #498288;
    outline: none !important;
    box-shadow: none !important;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 3px;
    width: 62px;
    cursor: pointer; }
    .purchase-holder button.purchase .price {
      color: #fff;
      margin-bottom: 0;
      font-size: 14px;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      line-height: 14px; }
    .purchase-holder button.purchase svg {
      margin: 2px auto;
      display: block; }
    .purchase-holder button.purchase .title {
      color: #498288;
      background: #fff;
      padding: 0 10px;
      border-radius: 10px;
      margin-bottom: 0;
      font-size: 14px;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      line-height: 18px; }
    .purchase-holder button.purchase:hover {
      background: #0061D6; }
    .purchase-holder button.purchase:active {
      background: #0061D6;
      border-color: #0061D6; }

.writepost-container {
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  margin: 0.6rem;
  width: auto;
  background: #fff; }
  .writepost-container figure {
    margin-right: 10px; }
  .writepost-container .user-avatar-holder-wrap {
    position: relative; }
    .writepost-container .user-avatar-holder-wrap svg {
      position: absolute;
      transform: translate(-50%, -50%);
      right: 0;
      bottom: -4px;
      height: 13px;
      width: auto; }
  .writepost-container .input {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: #000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    flex: 1; }
    .writepost-container .input::placeholder {
      font-size: 14px;
      color: #000;
      font-family: "Open Sans", sans-serif; }
  .writepost-container [placeholder]:empty::before {
    content: attr(placeholder);
    color: #000; }
  .writepost-container [placeholder]:empty:focus::before {
    content: ""; }
  .writepost-container .writepost-hidden {
    display: none;
    width: 100%; }
  .writepost-container.opened {
    padding: 10px 15px;
    flex-direction: column; }
    .writepost-container.opened .writepost-hidden {
      display: block;
      position: relative; }
    .writepost-container.opened .people-help {
      position: absolute;
      top: -1px;
      right: -16px;
      left: -15px;
      max-height: 395px;
      overflow-y: auto;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
      background: #fff;
      z-index: 1;
      padding: 10px;
      display: none; }
      .writepost-container.opened .people-help.active {
        display: block; }
      .writepost-container.opened .people-help .help-tag {
        color: #0081D1;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 10px;
        cursor: pointer; }
        .writepost-container.opened .people-help .help-tag:last-of-type {
          margin-bottom: 0; }
      .writepost-container.opened .people-help .people-help-item {
        display: flex;
        margin-bottom: 10px; }
        .writepost-container.opened .people-help .people-help-item:last-of-type {
          margin-bottom: 0; }
        .writepost-container.opened .people-help .people-help-item .people-help-info p {
          margin-bottom: 0;
          font-family: "Open Sans", sans-serif;
          color: #000; }
          .writepost-container.opened .people-help .people-help-item .people-help-info p a {
            color: #0081D1;
            text-decoration: none !important; }
            .writepost-container.opened .people-help .people-help-item .people-help-info p a .nick {
              font-weight: bold;
              font-size: 14px;
              font-family: "Open Sans", sans-serif; }
          .writepost-container.opened .people-help .people-help-item .people-help-info p:last-of-type {
            font-size: 10px; }
    .writepost-container.opened .user-avatar-holder-wrap {
      display: none; }
    .writepost-container.opened .input {
      height: auto;
      min-height: 100px;
      border-bottom: dashed 1px #DCDCDC !important;
      width: 100%; }
      .writepost-container.opened .input .tag, .writepost-container.opened .input a {
        color: #0081D1;
        text-decoration: none !important; }
        .writepost-container.opened .input .tag:hover, .writepost-container.opened .input a:hover {
          color: #0081D1; }
    .writepost-container.opened .attachments {
      display: flex;
      padding: 15px;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%; }
      .writepost-container.opened .attachments .add-attachment {
        cursor: pointer;
        height: 100px;
        width: auto;
        margin: 0 10px; }
        .writepost-container.opened .attachments .add-attachment:hover {
          opacity: 0.7; }
      .writepost-container.opened .attachments img {
        height: 100px;
        width: auto;
        margin: 0 10px; }
      .writepost-container.opened .attachments .picture-box {
        position: relative; }
        .writepost-container.opened .attachments .picture-box .close-cross {
          height: 28px;
          width: 28px;
          cursor: pointer;
          background: #fff;
          position: absolute;
          transform: translate(50%, -50%);
          top: 0;
          right: 0;
          border-radius: 50%;
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          border: solid 1px #4D4D4D; }
          .writepost-container.opened .attachments .picture-box .close-cross svg g {
            stroke: #4D4D4D; }
          .writepost-container.opened .attachments .picture-box .close-cross:hover {
            background: #39393A; }
            .writepost-container.opened .attachments .picture-box .close-cross:hover svg g {
              stroke: #C5C5C5; }
          .writepost-container.opened .attachments .picture-box .close-cross:active {
            background: #4D4D4D;
            border: none; }
            .writepost-container.opened .attachments .picture-box .close-cross:active svg g {
              stroke: #fff; }
    .writepost-container.opened .soc-row {
      padding: 0 15px 15px;
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .writepost-container.opened .soc-row .soc-item svg, .writepost-container.opened .soc-row .soc-item img {
        height: 40px;
        width: 40px;
        display: block;
        margin: 0 auto 10px; }
      .writepost-container.opened .soc-row .soc-item input {
        display: block;
        margin: 0 auto;
        outline: none !important;
        cursor: pointer; }
    .writepost-container.opened .btn-row {
      display: flex;
      justify-content: space-between;
      padding: 0;
      width: 100%;
      margin: 0; }
      .writepost-container.opened .btn-row button {
        border: solid 1px #000 !important;
        outline: none !important;
        box-shadow: none !important;
        border-radius: 0;
        width: 170px;
        text-align: center;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 50px; }
        .writepost-container.opened .btn-row button:hover {
          border: solid 1px #9500FF !important;
          background: #9500FF;
          color: #fff; }
          .writepost-container.opened .btn-row button:hover svg path, .writepost-container.opened .btn-row button:hover svg circle {
            fill: #fff; }
        .writepost-container.opened .btn-row button.post {
          border: solid 1px #9500FF !important;
          background: #9500FF;
          color: #fff; }
          .writepost-container.opened .btn-row button.post:hover {
            border: solid 1px #000 !important;
            background: #fff;
            color: #000; }

.post-container {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  padding: 0;
  margin: 0 0.6rem 0.6rem;
  width: auto;
  background: #fff; }
  .post-container:first-of-type {
    margin-top: 0.6rem; }
  .post-container .post-header {
    display: flex;
    align-items: center;
    padding: 10px 10px 0; }
    .post-container .post-header figure {
      margin-right: 10px; }
    .post-container .post-header .user-avatar-holder-wrap {
      position: relative; }
      .post-container .post-header .user-avatar-holder-wrap svg {
        position: absolute;
        transform: translate(-50%, -50%);
        right: 0;
        bottom: -4px;
        height: 13px;
        width: auto; }
    .post-container .post-header .user-info {
      flex: 1; }
      .post-container .post-header .user-info .nickname {
        margin-bottom: 0; }
        .post-container .post-header .user-info .nickname a {
          text-decoration: none !important;
          color: #0081D1;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: bold; }
          .post-container .post-header .user-info .nickname a:hover {
            color: #0081D1; }
      .post-container .post-header .user-info .time {
        color: #000;
        font-size: 10px;
        margin-bottom: 0; }
    .post-container .post-header .post-info {
      height: 16px;
      cursor: pointer;
      position: relative;
      padding-right: 10px; }
      .post-container .post-header .post-info path {
        opacity: 1 !important;
        fill: #000 !important; }
    .post-container .post-header .post-info-wrap {
      position: relative; }
      .post-container .post-header .post-info-wrap .post-actions {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        z-index: 1;
        padding: 10px 15px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        width: 120px;
        display: none;
        cursor: pointer; }
        .post-container .post-header .post-info-wrap .post-actions p {
          margin-bottom: 0.5rem;
          cursor: pointer;
          font-size: 14px; }
          .post-container .post-header .post-info-wrap .post-actions p:hover {
            color: #9500FF; }
      .post-container .post-header .post-info-wrap:hover .post-actions {
        display: block; }
  .post-container .post-body {
    padding: 10px 0; }
    .post-container .post-body img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto; }
    .post-container .post-body .post-text {
      padding: 0 15px;
      margin-bottom: 10px; }
      .post-container .post-body .post-text .tag, .post-container .post-body .post-text a {
        color: #0081D1;
        text-decoration: none !important; }
        .post-container .post-body .post-text .tag:hover, .post-container .post-body .post-text a:hover {
          color: #0081D1; }
  .post-container .post-footer {
    padding: 0 8px 8px; }
    .post-container .post-footer .post-footer-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0; }
      .post-container .post-footer .post-footer-top .like {
        cursor: pointer;
        display: flex;
        align-items: center;
        /* &.active
         * svg
         * 	path
         * 		fill: $rose!important */ }
        .post-container .post-footer .post-footer-top .like svg {
          width: 14px;
          height: auto; }
          .post-container .post-footer .post-footer-top .like svg path {
            fill: #000; }
        .post-container .post-footer .post-footer-top .like span {
          color: #000;
          font-size: 12px;
          margin-left: 5px; }
      .post-container .post-footer .post-footer-top .arrow-holder {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer; }
      .post-container .post-footer .post-footer-top .arrow-more {
        height: 16px;
        width: auto;
        fill: #000 !important; }
        .post-container .post-footer .post-footer-top .arrow-more path {
          opacity: 1 !important; }
        .post-container .post-footer .post-footer-top .arrow-more.rotated {
          transform: rotate(180deg); }
    .post-container .post-footer hr {
      border-top: dashed 1px #DCDCDC;
      margin: 0; }
    .post-container .post-footer .post-footer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0 0;
      width: 100%; }
      .post-container .post-footer .post-footer-bottom .like {
        cursor: pointer;
        display: flex;
        align-items: center; }
        .post-container .post-footer .post-footer-bottom .like svg {
          width: 20px;
          height: auto; }
          .post-container .post-footer .post-footer-bottom .like svg path {
            stroke: #000 !important; }
        .post-container .post-footer .post-footer-bottom .like.active svg path {
          stroke: #9500FF !important;
          fill: #9500FF !important; }
        .post-container .post-footer .post-footer-bottom .like span {
          color: #000;
          font-size: 14px;
          margin-left: 5px; }
      .post-container .post-footer .post-footer-bottom .complaine {
        cursor: pointer;
        display: flex;
        align-items: center; }
        .post-container .post-footer .post-footer-bottom .complaine svg {
          width: 20px;
          height: auto; }
          .post-container .post-footer .post-footer-bottom .complaine svg path {
            stroke: #000 !important; }
        .post-container .post-footer .post-footer-bottom .complaine.active svg path {
          stroke: #9500FF !important;
          fill: #9500FF !important; }
        .post-container .post-footer .post-footer-bottom .complaine span {
          color: #000;
          font-size: 14px;
          margin-left: 5px; }
      .post-container .post-footer .post-footer-bottom .share {
        cursor: pointer;
        display: flex;
        align-items: center; }
        .post-container .post-footer .post-footer-bottom .share svg {
          width: 16px;
          height: auto; }
          .post-container .post-footer .post-footer-bottom .share svg path {
            fill: #000 !important;
            opacity: 1 !important; }
        .post-container .post-footer .post-footer-bottom .share span {
          color: #000;
          font-size: 14px;
          margin-left: 5px; }
    .post-container .post-footer .liked-list {
      border-bottom: dashed 1px #DCDCDC;
      display: none; }
      .post-container .post-footer .liked-list.opened {
        display: block; }
      .post-container .post-footer .liked-list .liked-item {
        display: flex;
        align-items: center;
        padding: 10px 0;
        cursor: pointer; }
        .post-container .post-footer .liked-list .liked-item .like {
          width: 14px;
          height: auto; }
          .post-container .post-footer .liked-list .liked-item .like path {
            fill: #000; }
        .post-container .post-footer .liked-list .liked-item a {
          display: flex;
          align-items: center;
          text-decoration: none !important;
          margin-left: 10px; }
          .post-container .post-footer .liked-list .liked-item a figure {
            margin-right: 10px; }
          .post-container .post-footer .liked-list .liked-item a .user-avatar-holder-wrap {
            position: relative; }
            .post-container .post-footer .liked-list .liked-item a .user-avatar-holder-wrap svg {
              position: absolute;
              transform: translate(-50%, -50%);
              right: 0;
              bottom: -4px;
              height: 13px;
              width: auto; }
          .post-container .post-footer .liked-list .liked-item a p {
            color: #000 !important;
            font-size: 14px;
            font-weight: bold;
            font-family: "Open Sans", sans-serif;
            text-decoration: none !important;
            margin-bottom: 0; }
  .post-container.new-users .post-header .user-avatar-holder-wrap .user-avatar-holder {
    border: none; }
  .post-container.new-users .post-body {
    padding: 10px 0; }
    .post-container.new-users .post-body .new-users-wrap {
      flex-wrap: nowrap;
      display: flex; }
      .post-container.new-users .post-body .new-users-wrap .new-users-item {
        width: 152px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        margin: 1px;
        margin-right: 9px; }
        .post-container.new-users .post-body .new-users-wrap .new-users-item:last-of-type {
          margin-right: 0; }
        .post-container.new-users .post-body .new-users-wrap .new-users-item .photo-wrap {
          width: 152px;
          height: 152px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden; }
          .post-container.new-users .post-body .new-users-wrap .new-users-item .photo-wrap img {
            height: 100%;
            width: auto; }
          .post-container.new-users .post-body .new-users-wrap .new-users-item .photo-wrap svg {
            position: absolute;
            transform: translate(-50%, -50%);
            right: 0;
            bottom: -4px;
            height: 13px;
            width: auto; }
        .post-container.new-users .post-body .new-users-wrap .new-users-item .new-users-footer p {
          margin-bottom: 0;
          padding: 5px;
          display: block;
          width: 100%; }
          .post-container.new-users .post-body .new-users-wrap .new-users-item .new-users-footer p a {
            text-decoration: none !important;
            color: #000;
            font-size: 14px;
            font-weight: bold;
            font-family: "Open Sans", sans-serif;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            text-align: left;
            width: 142px;
            overflow: hidden;
            text-overflow: ellipsis; }
            .post-container.new-users .post-body .new-users-wrap .new-users-item .new-users-footer p a:hover {
              color: #000; }
            .post-container.new-users .post-body .new-users-wrap .new-users-item .new-users-footer p a span {
              font-size: 12px;
              font-weight: normal; }
        .post-container.new-users .post-body .new-users-wrap .new-users-item .new-users-footer .btn-follow {
          position: relative;
          cursor: pointer;
          display: flex;
          align-items: center;
          border-radius: 0;
          padding: 0 5px;
          display: flex;
          align-items: center;
          background: #fff;
          color: #000;
          border: solid 1px #000;
          font-family: "Open Sans", sans-serif;
          font-size: 14px; }
          .post-container.new-users .post-body .new-users-wrap .new-users-item .new-users-footer .btn-follow svg {
            width: 16px;
            height: 15px;
            width: auto;
            margin-right: 5px;
            fill: #000; }
          .post-container.new-users .post-body .new-users-wrap .new-users-item .new-users-footer .btn-follow.active {
            background: #9500FF;
            color: #fff;
            border: solid 1px #9500FF; }
            .post-container.new-users .post-body .new-users-wrap .new-users-item .new-users-footer .btn-follow.active svg {
              fill: #fff; }

.right-side-feed-holder {
  margin-top: 10px; }
  .right-side-feed-holder h3 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #9500FF;
    display: block;
    width: 285px;
    z-index: 1;
    padding: 11px 0;
    margin-bottom: 0;
    position: relative; }
    .right-side-feed-holder h3 span {
      position: relative; }
  .right-side-feed-holder.hide {
    display: none; }
  .right-side-feed-holder .right-side-feed {
    height: calc(100vh - 53px - 0.6rem - 46px);
    overflow-y: auto;
    display: block;
    padding: 10px 1px 0; }
    .right-side-feed-holder .right-side-feed.hide {
      display: none; }
    .right-side-feed-holder .right-side-feed::-webkit-scrollbar {
      display: none; }
  .right-side-feed-holder .post-container {
    margin: 0 0 0.6rem; }
    .right-side-feed-holder .post-container .btn-follow {
      position: relative;
      cursor: pointer;
      display: flex;
      font-size: 12px;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      padding: 3px 8px;
      width: 95px;
      background: #fff;
      color: #000;
      border: solid 1px #000;
      font-family: "Open Sans", sans-serif;
      font-size: 14px; }
      .right-side-feed-holder .post-container .btn-follow svg {
        width: 16px;
        height: 15px;
        width: auto;
        margin-right: 5px;
        fill: #000; }
      .right-side-feed-holder .post-container .btn-follow.active {
        background: #9500FF;
        color: #fff;
        border: solid 1px #9500FF; }
        .right-side-feed-holder .post-container .btn-follow.active svg {
          fill: #fff; }
    .right-side-feed-holder .post-container .post-body {
      padding: 0; }
      .right-side-feed-holder .post-container .post-body img {
        width: 100%; }
    .right-side-feed-holder .post-container .post-header {
      display: flex;
      justify-content: space-between;
      padding: 8px; }
      .right-side-feed-holder .post-container .post-header .all-user-info {
        display: flex;
        align-items: center; }
        .right-side-feed-holder .post-container .post-header .all-user-info .ok {
          position: relative; }
          .right-side-feed-holder .post-container .post-header .all-user-info .ok:before {
            content: url(/img/like_it/ok.svg);
            position: absolute;
            bottom: 4px;
            right: 8px;
            width: 14px;
            height: 13px;
            z-index: 20; }
        .right-side-feed-holder .post-container .post-header .all-user-info .error {
          position: relative; }
          .right-side-feed-holder .post-container .post-header .all-user-info .error:before {
            content: url(/img/like_it/error.svg);
            position: absolute;
            bottom: 4px;
            right: 8px;
            width: 14px;
            height: 13px;
            z-index: 20; }
        .right-side-feed-holder .post-container .post-header .all-user-info .user-avatar-holder-wrap {
          position: relative; }
          .right-side-feed-holder .post-container .post-header .all-user-info .user-avatar-holder-wrap svg {
            position: absolute;
            transform: translate(-50%, -50%);
            right: 0;
            bottom: -4px;
            height: 13px;
            width: auto; }

/*# sourceMappingURL=common-multiuse.css.map */
