@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
body.page-dating .profile-main-info {
  margin-top: 0.6rem; }
  body.page-dating .profile-main-info .chat-privacy .chat-privacy-option {
    cursor: default; }
    body.page-dating .profile-main-info .chat-privacy .chat-privacy-option.ready {
      background: #B0CB49; }
      body.page-dating .profile-main-info .chat-privacy .chat-privacy-option.ready:hover {
        background: #B0CB49; }
    body.page-dating .profile-main-info .chat-privacy .chat-privacy-option.fav {
      background: #EAB828; }
      body.page-dating .profile-main-info .chat-privacy .chat-privacy-option.fav:hover {
        background: #EAB828; }
    body.page-dating .profile-main-info .chat-privacy .chat-privacy-option.negative {
      background: #EA6A6A; }
      body.page-dating .profile-main-info .chat-privacy .chat-privacy-option.negative:hover {
        background: #EA6A6A; }

.profile-main-info .deactivated-notification {
  width: 100%;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #707070;
  text-align: center;
  background: #E4E4E4; }
.profile-main-info .chat-privacy {
  height: 0;
  position: relative;
  z-index: 1; }
  .profile-main-info .chat-privacy .chat-privacy-option {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 3px 5px 3px 35px;
    cursor: pointer;
    display: none; }
    .profile-main-info .chat-privacy .chat-privacy-option svg {
      height: 16px;
      width: auto;
      margin-right: 10px; }
    .profile-main-info .chat-privacy .chat-privacy-option.ready {
      background: #B0CB49; }
      .profile-main-info .chat-privacy .chat-privacy-option.ready:hover {
        background: #31923F; }
    .profile-main-info .chat-privacy .chat-privacy-option.fav {
      background: #EAB828; }
      .profile-main-info .chat-privacy .chat-privacy-option.fav:hover {
        background: #E68200; }
    .profile-main-info .chat-privacy .chat-privacy-option.negative {
      background: #EA6A6A; }
      .profile-main-info .chat-privacy .chat-privacy-option.negative:hover {
        background: #E10000; }
    .profile-main-info .chat-privacy .chat-privacy-option.active {
      display: none; }
  .profile-main-info .chat-privacy .dropdown-ico {
    position: absolute;
    height: 6.1px;
    width: auto;
    transform: translateY(-50%);
    top: 50%;
    right: 25px; }
  .profile-main-info .chat-privacy.show .chat-privacy-option {
    display: flex; }
.profile-main-info .id-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #F4F5F6;
  padding: 5px;
  position: relative; }
  .profile-main-info .id-row .user-id {
    background: #9500FF;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 0 3px;
    border-radius: 3px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 5px;
    margin-bottom: 0; }
  .profile-main-info .id-row .share {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .profile-main-info .id-row .share svg {
      height: 16px;
      width: auto;
      display: block;
      margin-right: 5px;
      fill: #000; }
    .profile-main-info .id-row .share p {
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      text-decoration: underline;
      margin-bottom: 0; }
    .profile-main-info .id-row .share:hover p {
      color: #707070; }
    .profile-main-info .id-row .share:hover svg {
      fill: #707070; }
    .profile-main-info .id-row .share:active p {
      color: #484848; }
    .profile-main-info .id-row .share:active svg {
      float: #484848; }
  .profile-main-info .id-row figure {
    margin: 0 10px 0 30px; }
.profile-main-info .main-user-avatar {
  width: 100%;
  height: 270.83px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  background: #E9ECF2;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15); }
  .profile-main-info .main-user-avatar img, .profile-main-info .main-user-avatar object {
    height: 100%;
    width: auto; }
  .profile-main-info .main-user-avatar svg {
    height: 105px;
    width: 105px; }
.profile-main-info .main-user-avatar-translation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #fff;
  height: 70px;
  width: 70px;
  margin: 5px;
  margin-top: -50px;
  overflow: hidden;
  z-index: 2;
  position: absolute; }
  .profile-main-info .main-user-avatar-translation img {
    min-width: 0;
    min-height: 0;
    height: 100%; }
.profile-main-info .main-user-info {
  background: #fff;
  padding: 4.5px 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.16); }
  .profile-main-info .main-user-info p {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    position: relative;
    text-align: center; }
    .profile-main-info .main-user-info p:first-of-type {
      font-weight: bold; }
    .profile-main-info .main-user-info p span {
      color: #585858;
      font-weight: normal; }
  .profile-main-info .main-user-info svg {
    height: 13px;
    width: auto;
    display: block;
    margin-right: 5px; }
.profile-main-info .fav-info {
  background: #fff;
  position: relative;
  display: flex;
  cursor: pointer;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.16);
  text-decoration: none !important; }
  .profile-main-info .fav-info .followers, .profile-main-info .fav-info .following {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    height: 64px; }
    .profile-main-info .fav-info .followers p, .profile-main-info .fav-info .following p {
      text-align: center;
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      margin-bottom: 0; }
      .profile-main-info .fav-info .followers p:first-of-type, .profile-main-info .fav-info .following p:first-of-type {
        font-weight: bold; }
    .profile-main-info .fav-info .followers:hover, .profile-main-info .fav-info .following:hover {
      background: #F4F5F6; }
    .profile-main-info .fav-info .followers:active, .profile-main-info .fav-info .following:active {
      background: #D2D8E3; }
      .profile-main-info .fav-info .followers:active p, .profile-main-info .fav-info .following:active p {
        color: #fff; }

.user-info-block {
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  display: block;
  width: auto;
  margin: 10px 10px 10px;
  padding: 10px; }
  .user-info-block .text-info .line {
    display: flex;
    color: #000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif; }
    .user-info-block .text-info .line .left {
      width: 120px; }
  .user-info-block hr {
    border-top: dashed 1px #DCDCDC;
    margin: 10px 0;
    width: 100%; }
  .user-info-block .wwc {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-Y: auto;
    height: 122px; }
    .user-info-block .wwc .tag-place {
      color: #000;
      padding: 0 3px;
      border: solid 1px #000;
      border-radius: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      font-size: 14px;
      font-family: "Open Sans", sans-serif; }
    .user-info-block .wwc span {
      color: #000;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      margin-right: 5px; }
  .user-info-block .gallery-block {
    display: flex; }
    .user-info-block .gallery-block figure {
      height: 80px;
      width: 80px;
      margin: 0;
      margin-right: 10px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s; }
      .user-info-block .gallery-block figure:last-of-type {
        margin-right: 0; }
      .user-info-block .gallery-block figure img {
        min-height: 100%;
        min-width: 100%; }
      .user-info-block .gallery-block figure:hover {
        transform: scale(1.15);
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
        transition: 0.2s; }
      .user-info-block .gallery-block figure:active {
        transform: scale(0.95);
        transition: 0; }

.btn-row {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 0 10px; }
  .btn-row button, .btn-row a {
    outline: none !important;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    height: 64px;
    background: #fff;
    cursor: pointer;
    width: 175px;
    text-decoration: none !important;
    border: none; }
    .btn-row button svg, .btn-row a svg {
      height: 25px;
      width: auto;
      margin-right: 10px; }
    .btn-row button:hover, .btn-row a:hover {
      background: #F4F5F6; }
    .btn-row button:active, .btn-row a:active {
      background: #D2D8E3; }
    .btn-row button:first-of-type.active, .btn-row a:first-of-type.active {
      background: #9500FF;
      color: #fff;
      border: solid 1px #9500FF !important;
      margin-top: 0; }
      .btn-row button:first-of-type.active svg, .btn-row a:first-of-type.active svg {
        fill: #fff; }

.user-gallery-container {
  padding-left: 0.3rem;
  padding-right: 0.3rem; }
  .user-gallery-container figure {
    position: relative;
    height: 84px;
    width: 84px;
    overflow: hidden;
    background-size: cover !important;
    margin: 0.55rem auto 0;
    display: block;
    cursor: pointer;
    transition: 0.2s; }
    .user-gallery-container figure:hover {
      transform: scale(1.15);
      box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
      transition: 0.2s; }
    .user-gallery-container figure:active {
      transform: scale(0.95);
      transition: none; }
    .user-gallery-container figure img {
      min-height: 100%;
      min-width: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      background-size: cover !important; }
  .user-gallery-container .more-photos {
    cursor: pointer;
    background: #F4F5F6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 84px;
    width: 84px;
    margin: 0.55rem auto 0; }
    .user-gallery-container .more-photos svg path {
      fill: #d2d2d2; }
    .user-gallery-container .more-photos p {
      color: #595959;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      position: absolute;
      text-align: center;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      white-space: nowrap; }
    .user-gallery-container .more-photos:hover {
      background: #EEEEEF; }
    .user-gallery-container .more-photos:active {
      background: #D2D8E3; }
      .user-gallery-container .more-photos:active svg path {
        fill: #fff; }
  .user-gallery-container .col-3:nth-child(1), .user-gallery-container .col-3:nth-child(2), .user-gallery-container .col-3:nth-child(3), .user-gallery-container .col-3:nth-child(4) {
    margin-top: 0.1rem !important; }

.dating-navs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.6rem 0 0;
  margin-right: 10px; }
  .dating-navs button, .dating-navs a {
    height: 64px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    outline: none !important;
    border: none !important;
    cursor: pointer;
    text-decoration: none !important;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1) !important; }
    .dating-navs button span, .dating-navs a span {
      font-size: 30px;
      position: relative;
      top: -3px; }
    .dating-navs button:hover, .dating-navs a:hover {
      background: #F4F5F6; }
    .dating-navs button:active, .dating-navs a:active {
      color: #fff;
      background: #D2D8E3; }
    .dating-navs button:first-of-type, .dating-navs a:first-of-type {
      border-right: solid 1px #fff;
      width: 271px; }
    .dating-navs button:last-of-type, .dating-navs a:last-of-type {
      border-left: solid 1px #fff;
      width: 360px; }
      .dating-navs button:last-of-type span, .dating-navs a:last-of-type span {
        margin-left: 5px; }
    .dating-navs button.btn-chat, .dating-navs a.btn-chat {
      text-decoration: none;
      width: 84px !important; }
      .dating-navs button.btn-chat svg, .dating-navs a.btn-chat svg {
        height: 20px;
        width: auto;
        fill: #000; }
      .dating-navs button.btn-chat:active svg, .dating-navs a.btn-chat:active svg {
        fill: #fff; }

.btn-more {
  outline: none !important;
  border: none !important;
  cursor: pointer;
  width: 641px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  font-size: 16px;
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
  color: #000;
  background: #fff;
  text-decoration: none !important;
  text-transform: uppercase;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.16) !important;
  margin: 0.6rem 0 1rem; }
  .btn-more.hide {
    display: none; }
  .btn-more:hover {
    background: #F4F5F6; }
  .btn-more:active {
    color: #fff;
    background: #D2D8E3; }

.more-info.hide {
  display: none; }
.more-info .left-part .present-fav {
  margin: 0.6rem 0; }
  .more-info .left-part .present-fav .action-fav {
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #E9ECF2;
    height: 62.95px;
    width: 70px; }
    .more-info .left-part .present-fav .action-fav svg {
      fill: #000;
      margin: 0 auto 3px;
      display: block; }
    .more-info .left-part .present-fav .action-fav:hover {
      color: #C3C4C4;
      background: #F4F5F6; }
      .more-info .left-part .present-fav .action-fav:hover svg {
        fill: #C3C4C4; }
    .more-info .left-part .present-fav .action-fav:active {
      color: #fff;
      background: #D2D8E3; }
      .more-info .left-part .present-fav .action-fav:active svg {
        fill: #fff; }
    .more-info .left-part .present-fav .action-fav.active {
      color: #9500FF; }
      .more-info .left-part .present-fav .action-fav.active svg {
        fill: #9500FF; }
.more-info .left-part button.send-present {
  outline: none !important;
  cursor: pointer;
  border: none !important;
  display: flex;
  width: 190px;
  padding: 0;
  background: #E9ECF2; }
  .more-info .left-part button.send-present figure {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 10px;
    width: 50px;
    height: 62.94px; }
    .more-info .left-part button.send-present figure svg {
      width: 50px;
      height: auto;
      fill: #000; }
  .more-info .left-part button.send-present p {
    flex: 1;
    margin-bottom: 0;
    height: 62.95px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-size: 14pxwhite; }
  .more-info .left-part button.send-present:hover {
    background: #F4F5F6; }
    .more-info .left-part button.send-present:hover figure svg {
      fill: #C3C4C4; }
    .more-info .left-part button.send-present:hover p {
      color: #C3C4C4; }
  .more-info .left-part button.send-present:active {
    background: #D2D8E3; }
    .more-info .left-part button.send-present:active figure svg {
      fill: #fff; }
    .more-info .left-part button.send-present:active p {
      color: #fff; }
.more-info .left-part .action-row {
  background: #F4F5F6;
  display: flex; }
  .more-info .left-part .action-row.hide {
    display: none; }
  .more-info .left-part .action-row .action-row-item {
    flex: 1;
    color: #646464;
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .more-info .left-part .action-row .action-row-item svg {
      fill: #646464;
      margin: 0 auto 3px;
      display: block; }
    .more-info .left-part .action-row .action-row-item:hover {
      color: #333; }
      .more-info .left-part .action-row .action-row-item:hover svg {
        fill: #333; }
    .more-info .left-part .action-row .action-row-item:active, .more-info .left-part .action-row .action-row-item.active {
      color: #9500FF; }
      .more-info .left-part .action-row .action-row-item:active svg, .more-info .left-part .action-row .action-row-item.active svg {
        fill: #9500FF; }
    .more-info .left-part .action-row .action-row-item.active:hover {
      color: #EB2C86; }
      .more-info .left-part .action-row .action-row-item.active:hover svg {
        fill: #EB2C86; }
    .more-info .left-part .action-row .action-row-item.active:active {
      color: #BC015A; }
      .more-info .left-part .action-row .action-row-item.active:active svg {
        fill: #BC015A; }
.more-info .left-part .gifts-container {
  width: 100%;
  display: flex;
  background: #F4F5F6;
  margin: 0.6rem 0; }
  .more-info .left-part .gifts-container .gifts-container-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    cursor: pointer; }
    .more-info .left-part .gifts-container .gifts-container-item svg path {
      fill: rgba(0, 0, 0, 0.09); }
.more-info .left-part .more-info-card {
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.16);
  background: #fff;
  margin-bottom: 0.6rem; }
  .more-info .left-part .more-info-card .more-info-card-header {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 22px 15px;
    font-weight: bold; }
  .more-info .left-part .more-info-card .more-info-card-body {
    position: relative; }
    .more-info .left-part .more-info-card .more-info-card-body p {
      margin-bottom: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #000; }
  .more-info .left-part .more-info-card.contact .more-info-card-body {
    background: #fff;
    padding: 22px 15px; }
    .more-info .left-part .more-info-card.contact .more-info-card-body .purchase-holder .purchase .price {
      color: #fff; }
  .more-info .left-part .more-info-card.info .more-info-card-body {
    padding-bottom: 30px; }
    .more-info .left-part .more-info-card.info .more-info-card-body ul {
      padding: 0;
      margin: 0; }
      .more-info .left-part .more-info-card.info .more-info-card-body ul li {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 5px 10px 5px 20px; }
        .more-info .left-part .more-info-card.info .more-info-card-body ul li:nth-child(odd) {
          background: #fff; }
        .more-info .left-part .more-info-card.info .more-info-card-body ul li h5, .more-info .left-part .more-info-card.info .more-info-card-body ul li p {
          margin-bottom: 0;
          font-weight: normal;
          font-family: "Open Sans", sans-serif;
          color: #000;
          font-size: 14px; }
        .more-info .left-part .more-info-card.info .more-info-card-body ul li p {
          text-align: right; }
        .more-info .left-part .more-info-card.info .more-info-card-body ul li h5 {
          position: relative;
          line-height: 1.5; }
          .more-info .left-part .more-info-card.info .more-info-card-body ul li h5:before {
            content: "";
            position: absolute;
            top: 10px;
            left: -10px;
            background: #000;
            height: 3px;
            width: 3px;
            border-radius: 50%; }
  .more-info .left-part .more-info-card.text .more-info-card-body {
    padding: 0 10px 30px;
    color: #000;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal; }
.more-info .col-7 {
  position: relative;
  margin-top: 0.6rem; }
  .more-info .col-7 h5 {
    text-transform: uppercase;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    background: #F4F5F6;
    padding: 22px 15px;
    margin: 0 -6px; }
  .more-info .col-7 .user-gallery-container {
    background: #F4F5F6;
    margin: -0.6rem -6px 0.6rem;
    padding: 0;
    width: 361px; }
  .more-info .col-7 .user-gallery-grid figure {
    margin: 0 3px 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer; }
    .more-info .col-7 .user-gallery-grid figure img {
      min-height: 100%;
      min-width: 100%; }
  .more-info .col-7 .docs-grid {
    margin: 0 -6px 0.6rem;
    background: #F4F5F6;
    width: 361px; }
    .more-info .col-7 .docs-grid figure {
      height: 84px;
      width: 84px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      cursor: pointer;
      margin: 3px;
      transition: 0.2s; }
      .more-info .col-7 .docs-grid figure:hover {
        transform: scale(1.15);
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
        transition: 0.2s; }
      .more-info .col-7 .docs-grid figure:active {
        transform: scale(0.95);
        transition: none; }
  .more-info .col-7 .private-grid {
    margin: 0 -6px 0.6rem;
    background: #F4F5F6;
    width: 361px; }
    .more-info .col-7 .private-grid figure {
      height: 84px;
      width: 84px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      cursor: pointer;
      margin: 3px;
      position: relative; }
      .more-info .col-7 .private-grid figure:hover {
        transform: scale(1.15);
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
        transition: 0.2s; }
      .more-info .col-7 .private-grid figure:active {
        transform: scale(0.95);
        transition: none; }
      .more-info .col-7 .private-grid figure img {
        min-height: 100%;
        min-width: 100%; }
  .more-info .col-7 .video-holder {
    display: block;
    margin: 0 auto;
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 0.6rem;
    margin-left: -0.3rem !important;
    margin-right: -0.4rem !important;
    overflow: hidden;
    width: 360px;
    height: 240px; }
    .more-info .col-7 .video-holder:last-of-type:before {
      display: none; }
    .more-info .col-7 .video-holder:before {
      position: absolute;
      bottom: -0.6rem;
      transform: translateX(-50%);
      left: 50%;
      background: #F4F5F6;
      height: 0.6rem;
      width: 361px;
      content: ""; }
    .more-info .col-7 .video-holder iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .more-info .col-7 .video-holder svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 1; }
    .more-info .col-7 .video-holder .purchase-holder svg {
      position: relative;
      top: 0;
      left: 0;
      transform: none; }
    .more-info .col-7 .video-holder img {
      min-height: 100%;
      min-width: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      background-size: cover !important; }

/*# sourceMappingURL=dating.css.map */
