@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
.page-registration .select-gender .gender-container.active svg, .page-registration .select-gender .gender-container.active path {
  fill: #fff;
  stroke: none !important; }

.page-guest, .page-registration {
  padding-top: 0; }

.page-login {
  padding-top: 0; }

.page-reg {
  background: url("../img/registration/registration-bg.png") no-repeat top center/cover;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .page-reg input[type=number]::-webkit-inner-spin-button,
  .page-reg input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .page-reg .container {
    margin: 0 auto;
    z-index: 2;
    opacity: .99; }
  .page-reg .row {
    display: flex;
    justify-content: space-around; }
    .page-reg .row ul {
      display: flex; }
      .page-reg .row ul li {
        display: flex;
        margin-right: 15px; }
        .page-reg .row ul li input {
          margin-right: 10px; }
  .page-reg .shadow-rose {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(206, 0, 97, 0.3); }
  .page-reg .form-reg-new {
    width: 650px;
    background: #fff;
    min-height: 100%;
    padding-bottom: 44px; }
    .page-reg .form-reg-new .frn-header {
      background: #FF00F8;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 36px;
      padding: 10px;
      text-align: center;
      width: 100%; }
    .page-reg .form-reg-new .goto-login {
      color: #43444F !important;
      text-decoration: underline;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      margin-bottom: 15px; }
      .page-reg .form-reg-new .goto-login a {
        color: #43444F !important; }
    .page-reg .form-reg-new h5 {
      text-transform: uppercase;
      font-size: 16px;
      color: #1a1a1a;
      font-weight: bold;
      text-align: center;
      margin-top: 32px; }
      .page-reg .form-reg-new h5.small {
        text-transform: none;
        font-size: 14px; }
    .page-reg .form-reg-new .login-soc {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      margin-bottom: 15px; }
      .page-reg .form-reg-new .login-soc img {
        height: 50px;
        width: auto;
        cursor: pointer;
        transform: scale(1); }
        .page-reg .form-reg-new .login-soc img:hover {
          transform: scale(1.1); }
        .page-reg .form-reg-new .login-soc img:active {
          opacity: .7; }
    .page-reg .form-reg-new .photos-wrapper {
      display: flex;
      justify-content: center; }
    .page-reg .form-reg-new .photo-input-wrap {
      width: 150px;
      height: 150px;
      background: #ffffff;
      margin: 0 auto 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px; }
      .page-reg .form-reg-new .photo-input-wrap svg {
        height: 50%;
        width: auto;
        fill: #000; }
    .page-reg .form-reg-new .input-holder {
      width: 280px;
      margin: 0 auto 15px;
      position: relative;
      height: 40px;
      border-radius: 4px;
      /*&.error{
        .error-ico{
          display: block;
        }
        .ico{
          path{
            fill: #fff;
          }
        }
        input{
          background: #CE0061;
          border: solid 1px #CE0061;
          &::placeholder{
            color: #ffffff;
          }
        }

      }*/ }
      .page-reg .form-reg-new .input-holder:focus .ico, .page-reg .form-reg-new .input-holder:hover .ico {
        color: #9500FF; }
      .page-reg .form-reg-new .input-holder input {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        outline: none !important;
        padding: 20px 0 20px 30px;
        font-size: 17px;
        background: #ffffff;
        border: solid 1px #686868;
        border-radius: 4px;
        width: 100%;
        color: #686868;
        font-family: "Open Sans", sans-serif; }
        .page-reg .form-reg-new .input-holder input:focus, .page-reg .form-reg-new .input-holder input:hover {
          border: solid 1px #9500FF;
          color: #9500FF; }
        .page-reg .form-reg-new .input-holder input::placeholder {
          color: #000;
          font-family: "Open Sans", sans-serif; }
      .page-reg .form-reg-new .input-holder .ico {
        position: absolute;
        left: 10px;
        transform: translateY(-50%);
        top: 75%; }
      .page-reg .form-reg-new .input-holder .error-ico {
        position: absolute;
        right: 10px;
        transform: translateY(-50%);
        top: 50%;
        display: none; }
      .page-reg .form-reg-new .input-holder.error input {
        border: solid 1px red; }
      .page-reg .form-reg-new .input-holder.filled input {
        border: solid 1px #000; }
    .page-reg .form-reg-new .justify-content-around {
      justify-content: space-around; }
    .page-reg .form-reg-new .justify-content-between {
      justify-content: space-between; }
    .page-reg .form-reg-new #datepicker {
      outline: none !important;
      padding: 5px 0;
      font-size: 17px;
      background: #ffffff;
      border: solid 1px #C6C6C6;
      text-align: center;
      border-radius: 0;
      margin: 0 auto 15px;
      display: block; }
      .page-reg .form-reg-new #datepicker:focus, .page-reg .form-reg-new #datepicker:hover {
        border: solid 1px #888; }
      .page-reg .form-reg-new #datepicker::placeholder {
        color: #000;
        font-family: "Open Sans", sans-serif; }
      .page-reg .form-reg-new #datepicker.filled input {
        border: solid 1px #000; }
      .page-reg .form-reg-new #datepicker.error {
        border: solid 1px red; }
    .page-reg .form-reg-new select.date {
      padding: 5px 0;
      font-size: 16px;
      background: #ffffff;
      border: solid 1px #686868;
      width: 80px;
      height: 40px;
      text-align: center;
      outline: none !important;
      border-radius: 4px;
      margin: 0;
      color: #686868; }
      .page-reg .form-reg-new select.date:focus, .page-reg .form-reg-new select.date:hover {
        border: solid 1px #888; }
      .page-reg .form-reg-new select.date.filled input {
        border: solid 1px #000; }
      .page-reg .form-reg-new select.date.error {
        border: solid 1px red; }
    .page-reg .form-reg-new .gender-select {
      display: flex;
      justify-content: space-between;
      width: 280px;
      margin: 0 auto 15px; }
      .page-reg .form-reg-new .gender-select .gender-item {
        width: 100px; }
        .page-reg .form-reg-new .gender-select .gender-item .gender-wrap {
          width: 100px;
          height: 100px;
          background: #ffffff;
          margin-bottom: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25); }
          .page-reg .form-reg-new .gender-select .gender-item .gender-wrap.male.active {
            background: #0089d0; }
            .page-reg .form-reg-new .gender-select .gender-item .gender-wrap.male.active svg path {
              stroke: #fff; }
          .page-reg .form-reg-new .gender-select .gender-item .gender-wrap.female.active {
            background: #CE0061; }
            .page-reg .form-reg-new .gender-select .gender-item .gender-wrap.female.active svg path {
              stroke: #fff; }
          .page-reg .form-reg-new .gender-select .gender-item .gender-wrap:hover {
            box-shadow: none; }
        .page-reg .form-reg-new .gender-select .gender-item p {
          text-align: center;
          font-size: 17px;
          color: #1a1a1a; }
    .page-reg .form-reg-new select {
      padding: 5px 10px;
      font-size: 17px;
      background: #ffffff;
      border: solid 1px #C6C6C6;
      width: 280px;
      text-align: center;
      outline: none !important;
      height: 35px;
      margin: 0 auto 15px;
      display: block; }
      .page-reg .form-reg-new select:focus, .page-reg .form-reg-new select:hover {
        border: solid 1px #888; }
      .page-reg .form-reg-new select.filled input {
        border: solid 1px #000; }
      .page-reg .form-reg-new select.error {
        border: solid 1px red; }
    .page-reg .form-reg-new .purpose-select {
      width: 280px;
      margin: 0 auto 15px; }
      .page-reg .form-reg-new .purpose-select .purpose-item {
        width: 40px; }
        .page-reg .form-reg-new .purpose-select .purpose-item .purpose-wrap {
          background: #ffffff;
          margin-bottom: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25);
          height: 40px;
          width: 40px; }
          .page-reg .form-reg-new .purpose-select .purpose-item .purpose-wrap:hover {
            box-shadow: none; }
          .page-reg .form-reg-new .purpose-select .purpose-item .purpose-wrap.active svg path {
            fill: #CE0061; }
        .page-reg .form-reg-new .purpose-select .purpose-item p {
          text-align: center;
          font-size: 10px;
          color: #1a1a1a; }
    .page-reg .form-reg-new .input-range-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px; }
      .page-reg .form-reg-new .input-range-wrapper > * {
        margin: 0 3px; }
      .page-reg .form-reg-new .input-range-wrapper .age-input {
        width: 40px;
        outline: none;
        border: none;
        border-radius: 4px;
        background-color: #fff;
        height: 20px;
        line-height: 20px;
        padding: 5px;
        text-align: center;
        color: #2c3a48;
        border: solid 1px #000; }
      .page-reg .form-reg-new .input-range-wrapper .dash {
        width: 12px;
        height: 1px;
        border-radius: 2px;
        background-color: #000; }
    .page-reg .form-reg-new .slider-ui {
      position: relative;
      margin: 20px 18px;
      border-radius: 0;
      height: 1px;
      background-color: #ccc; }
      .page-reg .form-reg-new .slider-ui .ui-slider-range {
        border: none;
        background: #000;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
        top: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block; }
      .page-reg .form-reg-new .slider-ui .ui-slider-handle {
        top: -9px;
        margin-left: -10px;
        position: absolute;
        z-index: 2;
        cursor: default;
        width: 20px;
        border: 1px solid #000;
        height: 20px;
        background: #fff;
        border-radius: 4px;
        outline: none; }
    .page-reg .form-reg-new .agree-block {
      display: flex;
      align-items: center;
      margin: 15px auto;
      margin-left: 8px;
      position: relative; }
      .page-reg .form-reg-new .agree-block input {
        display: block;
        outline: none !important;
        border: solid 1px #2A2A2A;
        margin-right: 5px;
        width: 16px;
        position: relative;
        opacity: 1;
        height: 16px;
        border-radius: 5px;
        top: 4px;
        -webkit-appearance: checkbox; }
      .page-reg .form-reg-new .agree-block label {
        font-size: 11px;
        color: #43444f;
        margin-bottom: 2px; }
        .page-reg .form-reg-new .agree-block label a {
          text-decoration: underline;
          color: #43444f;
          font-size: 12px; }
    .page-reg .form-reg-new .btn-register {
      background-color: transparent;
      width: 280px;
      padding: 10px;
      font-size: 26px;
      color: #9500FF;
      text-align: center;
      cursor: pointer;
      margin: 0 auto 15px;
      text-transform: uppercase;
      font-weight: bold;
      border: solid 1px #9500FF;
      border-radius: 4px;
      box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);
      font-family: "Open Sans", sans-serif;
      font-weight: bold; }
      .page-reg .form-reg-new .btn-register:hover {
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25); }
      .page-reg .form-reg-new .btn-register:active {
        background: #9500FF;
        color: #fff; }
      .page-reg .form-reg-new .btn-register:placeholder {
        color: #000;
        font-family: "Open Sans", sans-serif;
        font-weight: normal; }
  .page-reg .frn-text-block {
    height: auto;
    padding: 20px 0;
    width: 40%; }
    .page-reg .frn-text-block img {
      width: 100%; }

.select-gender {
  width: 280px;
  padding-bottom: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.select-gender .gender-container {
  width: 85px;
  height: 80px;
  font-size: 14px;
  font-weight: bold;
  border: solid 1px #9500FF;
  border-radius: 5px;
  color: #9500FF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer; }

.select-gender .gender-container.active {
  border-color: #9500FF;
  color: #fff;
  background: #9500FF; }

.select-gender .gender-container.active svg, .select-gender .gender-container.active path, .select-gender .gender-container.active .cls-1 {
  stroke: #fff;
  fill: #fff; }

.more-specifically {
  box-shadow: none !important; }
  .more-specifically p {
    font-size: 16px;
    text-align: center;
    color: #9500FF; }
  .more-specifically textarea {
    width: 272px;
    height: 100px;
    margin-left: 11px;
    overflow-x: hidden;
    border-radius: 5px;
    border: solid 1px #9500FF;
    outline: none;
    resize: none; }

.wtv-container {
  width: 280px;
  margin: 0 auto 15px;
  position: relative;
  height: 35px;
  border-radius: 4px; }
  .wtv-container .search__icosearch {
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    top: 88%;
    z-index: 1; }
  .wtv-container input {
    color: #000; }
    .wtv-container input::placeholder {
      color: #000 !important; }
  .wtv-container .place-visit {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    outline: none !important;
    padding: 5px 35px;
    font-size: 17px;
    background: #ffffff;
    border: solid 1px #000;
    border-radius: 4px; }
    .wtv-container .place-visit:focus, .wtv-container .place-visit:hover {
      border: solid 1px #888; }
    .wtv-container .place-visit:placeholder {
      color: #000;
      font-size: 17px; }
  .wtv-container .close {
    height: 15px;
    width: auto;
    position: absolute;
    right: 10px;
    top: 85%;
    transform: translateY(-50%); }

.wtv-container.country-old input#i-live-in {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: none !important;
  padding: 20px 0 20px 30px;
  font-size: 17px;
  background: #ffffff;
  border: solid 1px #686868;
  border-radius: 4px; }

.tag-place-container {
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px;
  padding-bottom: 8px; }

.tag-place-container .tag-place {
  color: #000;
  padding: 0 3px;
  border: solid 1px #000;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer; }

.tag-place-container.with-close .tag-place {
  position: relative;
  padding-right: 25px;
  background: #ccc; }
.tag-place-container.with-close .close {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  cursor: pointer; }

.cpf-container {
  height: 42px;
  margin-bottom: 10px;
  position: relative; }

.cpf-container .cpf-button {
  width: auto;
  border: solid 1px #fff;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 0 10px 20px;
  margin: 0 10px;
  position: relative; }

.cpf-container .cpf-button .arrow {
  right: 10px; }

.cpf-container .cpf-button:active {
  background-color: #ea6a6a;
  color: #fff;
  border-color: #fff; }

.cpf-container .cpf-button:active svg, .cpf-container .cpf-button:active path {
  fill: #fff; }

.cpf-container .cpf-button svg {
  position: absolute;
  transform: translateY(-50%);
  right: 30px;
  top: 50%; }

.cpf-container.active .arrow {
  transform: rotate(180deg);
  top: 40%;
  right: 10px;
  fill: #fff; }

.cpf-container.active .cpf-list {
  display: block; }

.cpf-container .cpf-list {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  margin: 0 10px;
  border: solid 1px #ccc;
  z-index: 5; }

.cpf-container .cpf-list .pay-type-item {
  font-weight: bold;
  height: 42px;
  width: auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 13px; }

.cpf-container .cpf-list .pay-type-item.two {
  background: #B0CB49; }

.cpf-container .cpf-list .pay-type-item.one {
  background: #EAB828; }

.cpf-container .cpf-list .pay-type-item.none {
  background: #EA6A6A; }

.cpf-container .cpf-button.two {
  background: #B0CB49; }

.cpf-container .cpf-button.one {
  background: #EAB828; }

.cpf-container .cpf-button.none {
  background: #EA6A6A; }

.pay-type-container {
  width: 280px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  height: 42px;
  font-size: 13px; }

.pay-type-container .pay-type-item {
  border-radius: 5px;
  font-weight: bold;
  height: 42px;
  width: auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px 0 10px;
  font-size: 13px;
  /*margin-bottom: 10px;*/
  position: relative; }

.pay-type-container .arrow {
  position: absolute;
  right: 10px;
  top: 17px;
  z-index: 1; }

.pay-type-container .pay-type-item.two {
  background: #B0CB49; }

.pay-type-container .pay-type-item.one {
  background: #EAB828; }

.pay-type-container .pay-type-item.none {
  background: #EA6A6A; }

.pay-type-container .pay-type-item.select svg:first-of-type {
  position: relative;
  right: 30px; }

.pay-type-container.selected {
  margin-top: -38px;
  display: flex; }
.pay-type-container .pay-type-item {
  display: none; }
.pay-type-container.show .pay-type-item {
  display: flex; }
.pay-type-container .pay-type-item.active {
  display: flex; }

/*# sourceMappingURL=registration.css.map */
