@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
.page-settings section {
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.16);
  padding: 10px 10px;
  margin-bottom: 10px;
  background: #fff; }
.page-settings h5 {
  background: #F4F5F6;
  padding: 5px 10px;
  display: inline-block; }
  .page-settings h5.subtitle {
    text-transform: uppercase;
    background: none;
    padding: 0;
    text-align: center;
    display: block; }
  .page-settings h5.small {
    text-transform: none;
    font-size: 14px;
    color: #1a1a1a;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    background: none;
    display: block;
    padding: 0; }
.page-settings .input-range-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; }
  .page-settings .input-range-wrapper > * {
    margin: 0 3px; }
  .page-settings .input-range-wrapper .input-title {
    color: #2c3a48;
    font-size: 16px; }
  .page-settings .input-range-wrapper .age-input {
    width: 40px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    margin-bottom: 35px;
    text-align: center;
    color: #000;
    border: solid 1px #000; }
    .page-settings .input-range-wrapper .age-input::placeholder {
      color: #000 !important; }
.page-settings .dash {
  width: 12px;
  height: 1px;
  border-radius: 2px;
  background-color: #F2F2F2; }
.page-settings .select-gender {
  width: 279px;
  margin: 0 auto; }
.page-settings .select-gender.want-lives {
  width: 279px;
  margin: 0 auto; }
  .page-settings .select-gender.want-lives .gender-container {
    padding: 20px 0;
    margin-top: 1rem; }
    .page-settings .select-gender.want-lives .gender-container svg path {
      stroke: #9500FF;
      fill: none !important; }
    .page-settings .select-gender.want-lives .gender-container.active svg path {
      stroke: #fff !important;
      fill: none !important; }
.page-settings .select-orientation ul {
  display: flex;
  margin-left: -40px; }
  .page-settings .select-orientation ul li {
    margin-right: 15px; }
    .page-settings .select-orientation ul li input {
      width: 15px;
      margin-right: 10px; }
.page-settings .slider-ui {
  position: relative;
  margin: 20px 18px;
  border-radius: 0;
  height: 1px;
  background-color: #ccc; }
  .page-settings .slider-ui .ui-slider-range {
    border: none;
    background: #F2F2F2;
    border-top: solid 1px #2c3a48;
    border-bottom: solid 1px #2c3a48;
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block; }
  .page-settings .slider-ui .ui-slider-handle {
    top: -9px;
    margin-left: -10px;
    position: absolute;
    z-index: 2;
    cursor: default;
    width: 20px;
    border: 1px solid #000;
    height: 20px;
    background: #fff;
    border-radius: 4px;
    outline: none; }
.page-settings select {
  padding: 5px 10px;
  font-size: 17px;
  background: #ffffff;
  border: solid 1px #000;
  color: #000;
  width: 279px;
  text-align: center;
  outline: none !important;
  height: 35px;
  margin: 0 auto 15px;
  display: block; }
  .page-settings select:focus, .page-settings select:hover {
    border: solid 1px #888; }
  .page-settings select.filled input {
    border: solid 1px #000; }
  .page-settings select.error {
    border: solid 1px red; }
.page-settings .tag-place-container {
  width: 279px;
  padding: 10px 0;
  margin: 0 auto; }
.page-settings .tag-place-container.with-close {
  width: 279px;
  margin: 0 auto; }
  .page-settings .tag-place-container.with-close .tag-place {
    position: relative;
    padding-right: 25px;
    background: #ccc; }
    .page-settings .tag-place-container.with-close .tag-place .close {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      height: 15px;
      width: 15px;
      cursor: pointer; }
.page-settings .footer-info h5 {
  background: none;
  display: block;
  padding: 0; }
.page-settings .input-holder {
  width: 100%;
  margin: 0 auto 15px;
  position: relative;
  height: 35px;
  border-radius: 4px; }
.page-settings input {
  outline: none !important;
  padding: 5px 35px;
  font-size: 17px;
  background: #ffffff;
  border: solid 1px #000;
  border-radius: 4px;
  color: #000;
  width: 100%; }
  .page-settings input::placeholder {
    color: #000 !important; }
  .page-settings input:focus, .page-settings input:hover {
    border: solid 1px #888; }
.page-settings .search-btn {
  background: #fff;
  width: 200px;
  padding: 10px;
  font-size: 15px;
  color: #000;
  text-align: center;
  cursor: pointer;
  margin: 0 auto 15px;
  border: solid 1px #000;
  border-radius: 4px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25);
  font-family: "Open Sans", sans-serif; }
  .page-settings .search-btn:hover {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25); }
  .page-settings .search-btn:active {
    background: #9500FF; }
.page-settings .input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 279px;
  margin: 0 auto 20px; }
  .page-settings .input-row label {
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    background: none;
    display: block;
    padding: 0;
    margin-bottom: 0; }
  .page-settings .input-row .input-holder {
    width: 160px;
    margin: 0;
    position: relative;
    height: 35px;
    border-radius: 4px; }
    .page-settings .input-row .input-holder .file-btn {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      outline: none !important;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none !important;
      border: none !important;
      color: #000;
      text-align: center;
      cursor: pointer;
      border-radius: 5px;
      background: #E9ECF2;
      font-family: "Open Sans", sans-serif;
      width: 100%; }
    .page-settings .input-row .input-holder .search {
      position: absolute;
      left: 5px;
      transform: translateY(-50%);
      top: 50%;
      z-index: 1;
      cursor: pointer; }
    .page-settings .input-row .input-holder.with-search input {
      padding-left: 25px; }
    .page-settings .input-row .input-holder input {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      outline: none !important;
      padding: 5px;
      font-size: 17px;
      background: #ffffff;
      border: solid 1px #000;
      border-radius: 4px;
      width: 100%;
      color: #000; }
    .page-settings .input-row .input-holder::placeholder {
      color: #000 !important; }
  .page-settings .input-row .check-container {
    position: absolute;
    right: -19px;
    top: 10px; }
    .page-settings .input-row .check-container img {
      height: 13px;
      width: 13px; }
    .page-settings .input-row .check-container img:first-of-type {
      display: none; }
    .page-settings .input-row .check-container img:last-of-type {
      display: block; }
    .page-settings .input-row .check-container.active img:first-of-type {
      display: block; }
    .page-settings .input-row .check-container.active img:last-of-type {
      display: none; }
.page-settings .cust_box li {
  list-style: none;
  display: flex; }
.page-settings .date-select-container {
  display: flex; }
  .page-settings .date-select-container select.date {
    padding: 5px 0;
    font-size: 17px;
    background: #ffffff;
    border: solid 1px #000;
    color: #000;
    width: 55px;
    text-align: center;
    outline: none !important;
    border-radius: 0;
    margin: 0; }
    .page-settings .date-select-container select.date:focus, .page-settings .date-select-container select.date:hover {
      border: solid 1px #888; }
    .page-settings .date-select-container select.date.filled input {
      border: solid 1px #000; }
    .page-settings .date-select-container select.date.error {
      border: solid 1px red; }
    .page-settings .date-select-container select.date::placeholder {
      color: #000 !important; }
.page-settings .settings-text {
  width: 100%; }
  .page-settings .settings-text p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #000; }
  .page-settings .settings-text figure {
    margin: 0;
    display: block;
    width: 100%; }
    .page-settings .settings-text figure img {
      width: 100%;
      height: auto; }
    .page-settings .settings-text figure figcaption {
      background: #E9ECF2;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      color: #000;
      padding: 5px 0; }
.page-settings .submit-btn-container button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 44px;
  outline: none !important;
  box-shadow: none !important;
  border: #000 solid 1px !important;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #000;
  border-radius: 4px;
  cursor: pointer; }
  .page-settings .submit-btn-container button svg {
    margin-right: 5px;
    height: 15px;
    width: 15px; }
  .page-settings .submit-btn-container button.approved {
    background: #39AE4A;
    border: solid 1px #39AE4A !important;
    color: #fff;
    display: none; }
  .page-settings .submit-btn-container button.disapproved {
    background: #FF0000;
    border: solid 1px #FF0000 !important;
    color: #fff;
    display: none; }
  .page-settings .submit-btn-container button.submitted {
    background: #EAB828;
    border: solid 1px #EAB828 !important;
    color: #fff;
    display: none; }
.page-settings .submit-btn-container.approved button.submit {
  display: none; }
.page-settings .submit-btn-container.approved button.approved {
  display: flex; }
.page-settings .submit-btn-container.disapproved button.submit {
  display: none; }
.page-settings .submit-btn-container.disapproved button.disapproved {
  display: flex; }
.page-settings .submit-btn-container.submitted button.submit {
  display: none; }
.page-settings .submit-btn-container.submitted button.submitted {
  display: flex; }
.page-settings .search-pref p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #000; }
.page-settings .search-pref .cpf-container {
  width: 270px; }
.page-settings .notifications-settings-grid {
  margin-bottom: 20px;
  padding: 0 15px; }
  .page-settings .notifications-settings-grid .notifications-setting-header {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .page-settings .notifications-settings-grid .notifications-setting-header p {
      width: 45px;
      text-align: center;
      color: #666;
      margin: 0; }
  .page-settings .notifications-settings-grid .notification-settings-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px; }
    .page-settings .notifications-settings-grid .notification-settings-line p {
      color: #000;
      margin: 0; }
    .page-settings .notifications-settings-grid .notification-settings-line .triggers-container {
      width: 130px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 10px;
      position: relative; }
      .page-settings .notifications-settings-grid .notification-settings-line .triggers-container:before {
        content: "off";
        top: 50%;
        transform: translateY(-50%);
        right: 35px;
        font-size: 12px;
        color: #000;
        font-family: "Open Sans", sans-serif;
        font-weight: lighter;
        position: absolute; }
      .page-settings .notifications-settings-grid .notification-settings-line .triggers-container:after {
        content: "on";
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        font-size: 12px;
        color: #000;
        font-family: "Open Sans", sans-serif;
        font-weight: lighter;
        position: absolute; }
      .page-settings .notifications-settings-grid .notification-settings-line .triggers-container .trigger {
        width: 30px;
        height: 15px;
        border: solid #ccc 1px;
        border-radius: 10px;
        position: relative;
        cursor: pointer; }
        .page-settings .notifications-settings-grid .notification-settings-line .triggers-container .trigger .trigger-dot {
          position: absolute;
          background-color: #ccc;
          border-radius: 50%;
          height: 13px;
          width: 13px;
          top: 1px;
          left: 1px; }
        .page-settings .notifications-settings-grid .notification-settings-line .triggers-container .trigger.active {
          border: solid #ea6a6a 1px; }
          .page-settings .notifications-settings-grid .notification-settings-line .triggers-container .trigger.active .trigger-dot {
            background-color: #ea6a6a;
            left: auto;
            right: 1px; }
.page-settings .delete-btn {
  background: #fff;
  width: 200px;
  padding: 10px;
  font-size: 15px;
  color: #FF0000;
  text-align: center;
  cursor: pointer;
  margin: 0 auto 15px;
  border: solid 1px #FF0000 !important;
  border-radius: 4px;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25) !important;
  font-family: "Open Sans", sans-serif;
  outline: none !important; }
  .page-settings .delete-btn:hover {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25) !important; }
  .page-settings .delete-btn:active {
    background: #9500FF; }

.modal-wrap-delete-profile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  z-index: 1000;
  display: none; }
  .modal-wrap-delete-profile.active {
    display: block; }
  .modal-wrap-delete-profile .modal-delete-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 400px; }
    .modal-wrap-delete-profile .modal-delete-profile .modal-header {
      width: 100%;
      background: #9500FF;
      position: relative;
      border-radius: 0;
      border: 0;
      padding: 0; }
      .modal-wrap-delete-profile .modal-delete-profile .modal-header .title {
        text-align: center;
        padding: 7px 0;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 18px;
        text-transform: uppercase;
        display: block;
        width: 100%; }
      .modal-wrap-delete-profile .modal-delete-profile .modal-header .close {
        top: 50%;
        right: 20px;
        height: 15px;
        width: 15px;
        cursor: pointer;
        transform: translateY(-50%);
        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
        cursor: pointer; }
    .modal-wrap-delete-profile .modal-delete-profile .modal-body p {
      text-align: center;
      margin: 10px; }
    .modal-wrap-delete-profile .modal-delete-profile .modal-footer {
      border: 0; }
      .modal-wrap-delete-profile .modal-delete-profile .modal-footer button {
        background: #fff;
        width: 130px;
        padding: 3px 0;
        font-size: 15px;
        color: #FF0000;
        text-align: center;
        cursor: pointer;
        margin: 0 auto 15px;
        font-weight: bold;
        border: solid 1px #FF0000 !important;
        border-radius: 4px;
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.25) !important;
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        outline: none !important; }
        .modal-wrap-delete-profile .modal-delete-profile .modal-footer button:hover {
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.25) !important; }
        .modal-wrap-delete-profile .modal-delete-profile .modal-footer button:active {
          background: #9500FF; }
        .modal-wrap-delete-profile .modal-delete-profile .modal-footer button:last-of-type {
          color: #000;
          border: solid 1px #000 !important; }

/*# sourceMappingURL=settings.css.map */
