@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
body.page-users h3, body.page-transactions h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 15px; }
body.page-users .video-block, body.page-transactions .video-block {
  width: 312px;
  display: block;
  margin: 0 auto; }
  body.page-users .video-block .video-from-youtube, body.page-transactions .video-block .video-from-youtube {
    display: block;
    margin: 0 auto;
    height: 0;
    position: relative;
    padding-bottom: 56.25%; }
    body.page-users .video-block .video-from-youtube iframe, body.page-transactions .video-block .video-from-youtube iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
body.page-users .call-refill-modal, body.page-transactions .call-refill-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E9ECF2;
  cursor: pointer;
  padding: 0.6rem 0;
  width: 230px;
  margin: 1.8rem auto; }
  body.page-users .call-refill-modal img, body.page-users .call-refill-modal svg, body.page-transactions .call-refill-modal img, body.page-transactions .call-refill-modal svg {
    height: 32px;
    width: auto;
    margin-right: 0.6rem; }
  body.page-users .call-refill-modal p, body.page-transactions .call-refill-modal p {
    margin-bottom: 0;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 16px; }
  body.page-users .call-refill-modal:hover, body.page-transactions .call-refill-modal:hover {
    background: #F4F5F6; }
    body.page-users .call-refill-modal:hover p, body.page-transactions .call-refill-modal:hover p {
      color: rgba(0, 0, 0, 0.2); }
  body.page-users .call-refill-modal:active, body.page-transactions .call-refill-modal:active {
    background: #D2D8E3; }
    body.page-users .call-refill-modal:active p, body.page-transactions .call-refill-modal:active p {
      color: #fff; }
body.page-users .transactions-table, body.page-transactions .transactions-table {
  padding-right: 0.6rem; }
  body.page-users .transactions-table .table-head, body.page-transactions .transactions-table .table-head {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body.page-users .transactions-table .table-head h4, body.page-transactions .transactions-table .table-head h4 {
      display: block;
      background: #F4F5F6;
      color: #000;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      text-align: center;
      padding: 0.6rem 0;
      margin-bottom: 0.6rem;
      width: 98px; }
  body.page-users .transactions-table .table-body .table-row, body.page-transactions .transactions-table .table-body .table-row {
    background: #F4F5F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    text-align: center; }
    body.page-users .transactions-table .table-body .table-row:nth-child(even), body.page-transactions .transactions-table .table-body .table-row:nth-child(even) {
      background: #fff; }
    body.page-users .transactions-table .table-body .table-row .table-data, body.page-transactions .transactions-table .table-body .table-row .table-data {
      height: 33.19px;
      width: 98px;
      display: flex;
      flex-direction: columns;
      align-items: center;
      justify-content: center; }
      body.page-users .transactions-table .table-body .table-row .table-data.with-arrows, body.page-transactions .transactions-table .table-body .table-row .table-data.with-arrows {
        flex-direction: row; }
        body.page-users .transactions-table .table-body .table-row .table-data.with-arrows svg, body.page-transactions .transactions-table .table-body .table-row .table-data.with-arrows svg {
          margin-right: 0.6rem; }

/*# sourceMappingURL=transactions.css.map */
