<!-- FOOTER -->
<footer>
	<div class="footer-info">
		<img src="img/logo_footer.png" alt="">
		<p>Наш час настав!</p>
		<p>Партія <span class="our">«НАШІ»</span> - для тих, хто шукає конструктивний шлях виходу із ситуації, в <br/>якій опинилася Україна.</p>
	</div>
	<div class="contacts">
		<div class="join-in">
			<h4>Приеднуйтесь до нас</h4>
			<ul>
				<li><a href="https://www.instagram.com/partiya.nashi/"><span class="icon-instagram-logo"></span></a></li>
				<li><a href="https://www.youtube.com/channel/UCsqpBoD8OHZjahIz9OWTs_A"><span class="icon-youtube-symbol"></span></a></li>
				<li><a href="https://www.facebook.com/partiya.nashi/"><span class="icon-facebook-logo-button"></span></a></li>
				<li><a href="https://twitter.com/partiya_nashi"><span class="icon-twitter-logo-button"></span></a></li>
			</ul>
		</div>
		<div class="number">
			<h4>контакти</h4>
			<div class="number-mobile">
				<div class="number-mobile_tel">
					<img src="img/phone.png" alt="">
					<a href="tel:0800505551">0800505551</a>
				</div>
				<div class="telegram">
					<p>Офіційний телеграм-канал<br/><span class="parties">партії "НАШІ"</span></p>
					<a href="https://t.me/partiya_nashi" class="tg"><span class="icon-telegram"></span></a>
				</div>
			</div>
		</div>
		<div class="social">
			<p>Лідер партії "Наші", <span class="name">Євгеній Мураєв,</span> <br/> у соціальних мережах</p>
			<ul>
				<li><a href="https://www.youtube.com/channel/UCLJL1R0I3L_jB_rxEOMzJ3A"><span class="icon-youtube-symbol"></span></a></li>
				<li><a href="https://www.facebook.com/yevgeniy.murayev"><span class="icon-facebook-logo-button"></span></a></li>
			</ul>
		</div>
	</div>
</footer>
<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
<script src="/js/contacts.js"></script>
</body>
</html>