$white: #ffffff;
$df: flex;
$ffer: Evolventa-Regular, sans-serif;
$ffeb: Evolventa-Bold, sans-serif;
$ffeo: Evolventa-Oblique, sans-serif;
$ffebo: Evolventa-BoldOblique, sans-serif; 
$ffnb: Nash-Bold, sans-serif;