@import 'vars';
@import 'fonts';

*{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* HEADER */
.background {
	width: 100%;
	height: 450px;
	padding-top: 30px;
	background: url("../img/logo.png")no-repeat center #046fa3;
	background-size: 70%;
	padding: 75px 0 160px 0;
}

.button-down {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 38px; 
	a {
		width: 57px;
    	height: 57px;
    	display: block;
    	background: url("../img/arr_down.png") no-repeat center;
	}
}

.button-main {
	width: 300px;
    margin: 515px auto 0 auto;
    padding-bottom: 38px;
    background-color: #ffffff;
    padding: 22px 45px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    animation: glowing 1500ms infinite;
	a {
		font-family: $ffnb;
		font-size: 25px;
		font-weight: bold;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: #ffffff;
		text-decoration: none;
	} 
}


@keyframes glowing { 
  0% { background-color: #054775; box-shadow: 0 0 2px #074673; } 
  50% { background-color: #1082d4; box-shadow: 0 0 9px #0e87de; } 
  100% { background-color: #074b7b; box-shadow: 0 0 2px #094d7d; } 
} 
