/*@import url('https://fonts.googleapis.com/css?family=PT+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

@font-face{
  font-family: MyriadPro, sans-serif;
  src: url(../fonts/MyriadPro.ttf);
}

@font-face{
  font-family: MyriadPro-Bold, sans-serif;
  src: url(../fonts/MyriadPro-Bold.ttf);
}

@font-face{
  font-family: MyriadPro-Semibold, sans-serif;
  src: url(../fonts/MyriadPro-Semibold.ttf);
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Myriad-Pro, sans-serif !important;
    font-size: 16px;
}
.muted {
    background-color: #f4f4f4;
}
.right{
    float:right;
}
.clear{
    clear:both;
}
.text-blue{
    color:#1e5aa5;
}
.text-grey {
    color: #F4F4F4;
}
.text-center{
    text-align:center;
}
.bg-blue {
  background-image: url(../images/062D78.png);
}

.text-blue {
  color: #062D78;
}
.row {
  margin: 0;

}
#bz {
  position: absolute;
  display: block;
  bottom: 0;
  top: 815px;
  right: 0;
  padding: 4px 5px;
  color: #bbb;
  opacity: 0.6;
  font-size: 0.7em;
  font-style: italic;
}
span.error {
  font-size: 0.7em;
  display: block;
  text-align:left;
  color: red;
}
#content {
  width: 100%;
  overflow: visible;
  /* max-width: 1200px; */
  margin: 0;
  height: 100%;
  display: block;
}
.inner {
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  /* width: 100%;
  position: absolute;
  top: 0; */
  background: url(../images/header2018.jpg) center top no-repeat;
  background-size: cover;
}

#header {
  width: 75%;
  height: 62px;
  margin: 0 auto;
}
#break-heading {
  display: none;
}
#ds-logo, #fastlogin,#ds-logo-seal, #ds-logo-noseal{
  width: 50%;
  float: left;
  margin-top: 10px;
}
#ds-logo-noseal {
  display: none;
}
#fastlogin {
  width: 50%;
  text-align: right;
  line-height: 62px;
}
.fast-login-link {
  color: #e1e1e1;
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;
}
#meet-beautiful-singles {
  text-align: center;
  margin: 0;
  margin-top: 19%;
}
#meet-beautiful-singles h1, #meet-beautiful-singles h2 {
  font-size: 31px;
  color: #e1e1e1;
  font-weight: lighter; 
  letter-spacing: 2px;
}
#meet-beautiful-singles h2 {
  font-size: 12px;
  font-style: italic;
  letter-spacing: normal;
}
#seals {
  /* width: 300px; */
  margin: 76px auto 0 auto;
  height: 53px;
  line-height: 67px;
  width: 100%;
  position: absolute;
  bottom: 125px;
  left: 0;
}
#seals .inner {

  /* width: 236px; */
  width: 316px;
  height: 65px;
  margin:0 auto;
}
.seal {
  float: left;
  margin: 0 5px;
  display: block;
}

.seal img {
  display: inline-block;
}
#testimonials { 
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  left:0;
  bottom: 0;
  cursor: pointer;
  cursor: hand;
}
#testimonials-inner {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
  }
.testimonial {
  float: left;
  max-width: 340px;
  height: auto;
}
.testimonial img {
  float: left;
  margin: 5px 10px 5px 5px;
}
.testimonial p {
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  color: #e1e1e1;
  margin: 7px 10px 0 0;
  display: block;
  line-height: 1.5rem;
}

.testimonial p span {
  font-size: 11px;
  display: block;
  width: 100%;
  font-style: italic;
}
#features {
  width: 100%;
  text-align: center;
  display: block;
  margin: 80px 0 20px 0;

}
.feature-group {
  width: 49%;
  float: left;
  border-collapse: collapse;
  
}
.feature {
  width: 49%;
  text-align:center;
  float: left;
  border-collapse: collapse;
  cursor: pointer;
  cursor: hand;
}
.feature img {
cursor: pointer;
cursor: hand;
}
.feature p {
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  width: 230px;
  /* margin-top: 20px; */
  margin: 20px 5px 5px 5px;
  cursor: pointer;
  cursor: hand;
}
#welcome {
/* position: absolute; */
width: 100%;
margin-top: 0;
margin: 0 auto;
background: #F4F4F4;
}
#welcome .inner, #features .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#welcome .column {
  width: 50%;
  float: left;
}
#welcome-col1 {
  width: 60%;
  min-width: 380px;
  text-align: center;
}
#welcome-col1 img {
  margin: 20px auto;
}
#welcome-col1 p {
  font-family: MyriadPro-Semibold, sans-serif;
  font-size: 14px;
  color: #5D5D5D;
  font-weight: bold;
  text-align: left;
  margin: 10px;
  margin-bottom: 20px;
}
#welcome-video {
  padding-left: 50px;
  padding-top: 60px;
}
#yt {
  width: 100%;
  height: 300px;
}
#middle {
  width: 100%;
  height: 323px;
  max-width: 1200px;
  margin: 90px auto 0 auto;
  clear: both;
}
#social {
  text-align: right;
}
#social img, #social-mobile img {
  width: 40px;
  margin: 5px;
}
#social-mobile {
  display: none;
}
#footer {
  width: 100%;
  height: 240px;
  position: relative;
  
}
#footer .inner {
  max-width: 1200px;
  margin: 0 auto;
}
.services_column a {
  font-family: MyriadPro-Bold, sans-serif !important;
  font-size: 15px;
  font-weight: bold;
  color: #e1e1e1 !important;
  width: 100%;
  display: block;
  margin-left: 3px;
  line-height: 1.5;
}

.services_column a:hover {
  color: #e1e1e1 !important;
}

.footer-group {
  width: 50%;
  float: left;
  display: block;
}
.services_column {
  width: 50%;
  float: left;
  padding-left: 20px;
}
#footer .footer-group .services_column:first-of-type {
  margin-left: 5%;
}
#footer .footer-group .services_column:last-of-type {
  width: 45%;
}
.services_column h2 {
    color: #33ccff;
    font-size: 18px;
}
#vcard {
  width: 80%;
  margin:25px auto;
  text-align: center;
}
#all-questions {
  display: none;
}
.ariadesc {
  visibility: hidden;
}
#login2 {
  display: none;
}
.question {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  height: auto;
  min-height: 200px;
  background: #fff;
  border-top: 15px solid #1e5aa5;
  z-index: 9999;
}
.question h1 {
    text-align: center;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 3rem;
}
.question h3 {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    background: #167cbe;
    font-size: 3em;
    font-weight: 100;
    padding: 10px 0;
  
}
.question label {
    font-size: 1.6rem;
    cursor: pointer;
    display: block;
    width: 280px;
    padding: 0.7rem 0 0.7rem 3rem;
    position: relative;
    border: 1px solid #ddd;
    margin: 0.5rem auto;
    text-align: left;
    line-height: 1.2em;

}
.question input[type=radio] {
    float: left;
    left: 40px;
    margin-top: 8px;
    position: relative;
    margin-left: 20px;
}
.question input[type=text]{
    display: block;
    margin: 3px auto;
    padding: 0.7rem 0 0.7rem 3rem;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 0;
}
.question select {
  border-radius: 0;
}
#q-approved {
    padding: 0 0 20px 0;
    margin: 0;
    width: 450px;
    max-width: unset;
    text-align: center;
    overflow: hidden;
}
#q-approved p {
  width: 80%;
  margin: 0 auto;
  font-size: 0.7em;
  text-align: center;
  
}
#q-approved h1 {
  margin-top 20px;
  margin-bottom: 0;
}
#overlay {
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  -moz-opacity: 70;
}

#facebookIframe {
  width:180px; 
  height:50px; 
  overflow:hidden; 
  outline:0; 
  margin:0; 
  padding:0; 
  border:0;
}
.login-btn, .continue-btn {
  font-size: 0;
  width: 180px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.login-btn {
  background-image: url(/images/layout/login.png);
}
.continue-btn {
  background-image: url(/images/layout/continue.png);
}
.login-btn, .continue-btn {
  background-position-x: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  border: none;
}
.login-btn:hover, .continue-btn:hover {
  background-color: #0bab00;
  border: none;
}
.form-control {
  border-radius: 0;
  width: unset;
}

#create-profile {
  border-top: 0;
  background: #f6f6f6;
}

.widget-header {
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 90px;
  font-size: 1.9em;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  margin: 0 0 15px 0;
  color: #444;
  letter-spacing: 0px;
  font-weight: lighter;
  padding: 0;

}

@media screen and (max-width: 1440px) {
  #bz {
    top: 648px;
  }
}

@media screen and (max-width: 1280px) {
  #bz {
    top: 907px;
  }
}

@media screen and (max-width: 991px) {
  .login-btn, .continue-btn {
    width: 300px;
    height: 50px;
  }
  .inactive {
    display: none;
  }
  form .form-control,
  form .bootstrap-select button.selectpicker
  {
    height: 50px;
  }
  form .bootstrap-select.btn-group .dropdown-menu li > a {
    min-height: 50px;
  }

}
/* *******************************    up to 768   *********************/
@media screen and (max-width: 768px) {
#ds-logo-seal {
  display: none;
}
#ds-logo-noseal {
  display: block;
  /* width: 100%; */
  /* text-align: center; */
}
  #welcome .column {
    width: 100%;
    max-width: 768px;
  }
  #welcome-col1 {
    width: 100%;
    min-width: unset;
  }
  #welcome-video {
    padding: 0;
    text-align: center;
  }
  #yt {
    width: 90%;
    margin: 0 auto;
  }
 .feature-group {
    width: 100%;
 }
 #break-heading {
  display: block;
 }
 #meet-beautiful-singles {
   margin-top: 101px;
 }
 #facebookIframe {
   width: 300px;
 }
 #testimonials-inner {
  width: 416px;
  height: auto;
 }

 #features {
  margin: 0;
 }
 #seals {
  bottom: 302px;
 }
 
 
   #fastlogin {
     display: none;
   }
   #login2 {
   text-decoration: underline;
     display: block;
   }
   
}

/* *******************************    up to 659   *********************/

  @media screen and  (max-width: 659px) {
  #top {
    background: url(../images/header2018-mobile.jpg?555) center top no-repeat;
    background-size: cover;
  }

  #meet-beautiful-singles {
  margin-top: 108px;
  }
  #footer .footer-group {
    width: 49%;
    float: left;    
  }
  #footer .footer-group .services_column {
    width: 49%;
    float: left;
  }
  #seals {
      margin: 0 auto;
      margin-bottom: -108px;
      max-width: 659px;
  }

    #testimonials {
    position: relative;
    top:0;
    left: 0;
    /* margin-top: 196px;  */
    margin: 0 auto;
  }
  .testimonial {
    width: 100%;
    padding: 5px;
  }  
  .testimonial p {
    margin: 5px;
  }
  .services_column h2 {
    font-size: 1.1em;

  }
  .services_column a {
    font-size: 0.9em;
    line-height: 26px;
  }
  .feature {
     width: 100%;
  }
  
  #social {
    display: none;
  }
  #social-mobile {
    display: block;
    margin: 40px 0 20px 0;
    text-align: center;
  }

}

@media screen and  (max-width: 519px) {

#bz {
  display: none;
}
  #features {
    margin-top: 45px;
  }
  
  #welcome .inner, #features .inner {
    /* width: 109%; */
    max-width: 360px;
    margin: 0 auto;
}

#instant-access {
  width: 330px;
}
  #footer {
    width: 100%;
    height: 375px;
    position: relative;
    bottom: 0;
  }
  #footer .footer-group {
  width: 100%;
  }
  #q-approved {
    width: 360px;
  }
  .question {
    max-width: 380px;
  }
  .question input[type=radio] {
    margin-top: 11px;
    margin-left: 11px;
  }
.services_column a {
    margin: 0;
  }

.services_column h2 {
  margin: 10px 0;
}
#footer .footer-group:last-child {
    padding-bottom: 20px;
  }
}


@media screen and  (max-width: 414px) {
  #testimonials {
    /* margin-top: 164px; */
  }
  #testimonials-inner {
    width: 350px;
    margin: 0 auto;
  }
  #meet-beautiful-singles {
    margin-top: 45%
  }
  #seals {
    margin-bottom: -280px;
  }
  #vcard {
    width: 100%;
    margin:100px 0;
    text-align: center;
    font-size: 0.5em;
  }
  .question input[type=radio]{
      margin-left: 0;
  }
}

