$df: flex;
$ai: center;
$sb: space-between;
$ff: SegoeUI, Arial, sans-serif;
$ffb: SegoeUI-Bold, Arial, sans-serif;
$white: #fff;
$black: #000;
$grey: #A8A8A8;
$bg-scroll:#ECECEC;
$color-link: #FF0000;
$br-color: #E1E1E1;
$as-color: #F5F5F5;
$bb: border-box;
$fend: flex-end;
$jcc: center;