@import 'vars';
@import 'mixins';



main {
	width: 85%;
	margin: 0 auto;
	.main-news {
		height: 430px;
		@include dflexb($df,$sb);
	section {
		width: 72%;
	}
	aside {
		width: 28%;
		height: 100%;
		background-color: $as-color;
		padding-left: 20px;
		box-sizing: $bb;
		h4 {
			font-family: $ffb;
			font-size: 25px;
			text-align: center;
			text-transform: uppercase;
		}
		ul {
			height: 335px;
			overflow-y: scroll;
			&::-webkit-scrollbar {
      			width: 5px;
    		}
    		&::-webkit-scrollbar-track {
      			background-color: $bg-scroll;
    		}
    		&::-webkit-scrollbar-thumb {
    			height: 10px;
      			border-radius: 20px;
      			background-color: $grey;
    		}
    		li {
    			position: relative;
    			padding: 25px 0 10px 0;
    			border-bottom: 1px solid $br-color;
    			span {
    				position: absolute;
					right: 10px;
    				top: 5px;
    				font-size: 15px;
    				color: $grey;
    			}
    			a {
    				font-size: 20px;
    			}
    		}
		}
	}
}
	/* SWIPER SLIDER*/
	.swiper-container {
		width: 100%;
		height: 100%;
		.swiper-button-next, .swiper-button-prev {
			width: 50px;
			height: 50px;
			background-image: none;
			position: absolute;
			top: 50%;
			right: 0;
			z-index: 2;
		}
		.swiper-button-prev {
			transform: rotate(180deg);
		}
		.swiper-button-next {
			margin-top: 0 !important;
		}
	  }
	  .swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	  }

	/* Dirt */


	.description-dirt {
		margin: 15px 0;
		a {
			@include dflex($df, $ai, $jcc);
			height: 0;
			width: 145px;
			padding: 15px 0 20px 0;
			font-family: $ffb;
			font-size: 20px;
			color: $white;
			background-color: $grey;
		}
	}
	.dirt {
		.dirt-container {
			@include dflexb($df, $sb);
			.dirt-image{
				position: relative;
				width: 18% !important;
				height: 240px;
				cursor: pointer;
				.dirt-bg_photo {
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: $black;
					opacity: 0.5;
				}
				.dirt-description {
					display: none;
					position: absolute;
					bottom: 0;
					height: 100px;
					width: 100%;
					background-color: #F5F5F5;
					text-align: left;
					padding-right: 50px;
					box-sizing: border-box;
				}
			}
			.dirt-image:hover {
				box-shadow: 0 0 7px black;
			}

			.dirt-image:hover .dirt-description {
				display: block;
			}
			.dirt-image:hover .dirt-bg_photo {
				display: none;
			}
		}
	}

}
