@import 'vars';
@import 'mixins';



.image-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $black;
	opacity: 0.5;
}


main {
	width: 85%;
	margin: 0 auto;
	.main-news {
		height: 495px;
		@include dflexb($df,$sb);
	section {
		position: relative;
		width: 72%;
		.section-description {
			position: relative;
			top: 25%;
			left: 20%;
			width: 75%; 
			font-size: 26px;
			color: $white;
		}
		.section-news {
			position: absolute;
			right: 0;
			bottom: 0;
			display: $df;
			justify-content: flex-end;
			flex-flow: row wrap;
			width: 80%;
			height: 50%;
			&:before {
				content: '';
			}
			.section-news_item {
				display: $df;
				align-items: center;
				justify-content: space-around;
				width: 460px;
				border: 1px solid red;
				.section-news_item-image {
					width: 132px;
					height: 78px;
				}
				.section-news_item-description {
					width: 70%;
					color: $white;
					.date {
						display: $df;
						justify-content: flex-end;
						font-size: 10px;
					}
				}
			}
		}
	}
	aside {
		width: 28%;
		height: 100%;
		background-color: $as-color;
		padding-left: 20px;
		box-sizing: $bb;
		h4 {
			font-family: $ffb;
			font-size: 25px;
			text-align: center;
			text-transform: uppercase;
		}
		ul {
			height: 400px;
			overflow-y: scroll;
			&::-webkit-scrollbar {
      			width: 5px;
    		}
    		&::-webkit-scrollbar-track {
      			background-color: $bg-scroll;
    		}
    		&::-webkit-scrollbar-thumb {
    			height: 10px;
      			border-radius: 20px;
      			background-color: $grey;
    		}
    		li {
    			position: relative;
    			padding: 25px 0 10px 0;
    			border-bottom: 1px solid $br-color;
    			span {
    				position: absolute;
					right: 10px;
    				top: 5px;
    				font-size: 15px;
    				color: $grey;
    			}
    			a {
    				font-size: 20px;
    			}
    		}
		}
	}
}
	/* SWIPER SLIDER*/
	.swiper-container {
		width: 100%;
		height: 100%;
		.swiper-button-next, .swiper-button-prev {
			width: 20px;
			height: 32px;
			background-image: none;
			position: absolute;
			top: 50%;
			right: 0;
			z-index: 2;
		}
		.swiper-button-prev {
			transform: rotate(180deg);
		}
		.swiper-button-next {
			margin-top: 0 !important;
		}
	  }
	  .swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	  }

	/* Dirt */


	.news-section_name {
		margin: 15px 0;
		a {
			@include dflex($df, $ai, $jcc);
			height: 0;
			width: 170px;
			padding: 15px 0 20px 0;
			font-family: $ffb;
			font-size: 20px;
			color: $white;
			background-color: $grey;
			&:hover {
				background-color: $color-link;
			}
		}
	}
	.dirt {
		.dirt-container {
			@include dflexb($df, $sb);
			.dirt-image{
				position: relative;
				height: 240px;
				cursor: pointer;
				&:last-child {
					margin-right: 0;
				}
				.dirt-bg_photo {
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: $black;
					opacity: 0.5;
				}
				.dirt-description {
					display: none;
					position: absolute;
					bottom: 0;
					height: 100px;
					width: 100%;
					background-color: #F5F5F5;
					text-align: left;
					padding-right: 130px;
					box-sizing: border-box;
				}
			}
			.dirt-image:hover {
				box-shadow: 0 0 7px black;
			}

			.dirt-image:hover .dirt-description {
				display: block;
			}
			.dirt-image:hover .dirt-bg_photo {
				display: none;
			}
		}
	}

	.main-popular_news-feed {
		height: 2145px;
		.news-feed-container {
			@include dflexb($df, $sb);
			.news-feed_sidebar {
				width: 49%;
				.news-feed_item {
					@include dflexb($df, $sb);
					height: 196px;
					margin-bottom: 15px;
					.news-feed_image {
						position: relative;
						width: 650px;
						height: 100%;
						.image-bg {
							position: absolute;
							top: 0;
							width: 100%;
							height: 100%;
							background-color: $black;
							opacity: 0.5;
						}
					}
					.news-feed_description {
						padding: 0 10px;
						h4 {
							font-family: $ffb;
							font-size: 20px;
						}
						p {
							font-size: 18px;
						}
						.date {
							display: $df;
							justify-content: flex-end;
							color: $grey;
						}
					}
				}
				.news-feed_item:nth-child(4){
					position: relative;
					height: 423px;
					.news-feed_image {
						width: 100%;
					}
					.news-feed_description {
						position: absolute;
						bottom: 0;
						color: $white;
					}
				}
			}

			/* Second sidebar */
			.news-feed_second-sidebar {
				width: 49%;
				.news-feed_item {
					@include dflexb($df, $sb);
					height: 196px;
					margin-bottom: 15px;
					.news-feed_image {
						position: relative;
						width: 650px;
						height: 100%;
						.image-bg {
							position: absolute;
							top: 0;
							width: 100%;
							height: 100%;
							background-color: $black;
							opacity: 0.5;
						}
					}
					.news-feed_description {
						padding: 0 10px;
						h4 {
							font-family: $ffb;
							font-size: 20px;
						}
						p {
							font-size: 18px;
						}
						.date {
							display: $df;
							justify-content: flex-end;
							color: $grey;
						}
					}
				}
				.news-feed_item:nth-child(2) {
					position: relative;
					height: 423px;
					.news-feed_image {
						width: 100%;
					}
					.news-feed_description {
						position: absolute;
						bottom: 0;
						color: $white;
					}
				}
			}
		}
		.cont2 {
			.news-feed_item:nth-child(3) {
				position: relative;
    			height: 423px;
    			.news-feed_image {
					width: 100%;
				}
				.news-feed_description {
					position: absolute;
					bottom: 0;
					color: $white;
				}
			}
		}
		.side2 {
			.news-feed_item:nth-child(1) {
				position: relative;
    			height: 423px;
    			.news-feed_image {
					width: 100%;
				}
				.news-feed_description {
					position: absolute;
					bottom: 0;
					color: $white;
				}
			}
		}
	}

}
