@import 'vars';
@import 'mixins';



.news-headline {
	width: 90%;
	margin: 0 auto;
	font-family: $ffb;
	h2 {
		font-size: 44px;
	}
	p {
		font-family: Arial, sans-serif;
		font-style: italic;
		font-size: 27px;
	}
}

.news {
	@include dflexb ($df, $sb);
	width: 90%;
	margin: 0 auto;
	.news-text {
		width: 64%;
		.news-image {
			position: relative;
			width: 100%;
			height: 480px;
		}
		blockquote {
			position: relative;
			width: 100%;
			margin: 0;
			padding: 10px;
			background: url('../img/quote.png') no-repeat left;
			background-size: 25%;
			box-sizing: border-box;
			border-top: 2px solid $color-link;
			&:after {
				content: '';
				display: block;
				position: absolute;
				height: 60%;
				right: 0;
				top: 0;
				border: 1px solid $color-link;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 90%;
				bottom: 0;
				left: 0;
				border: 1px solid $color-link;
			}
			p {
				font-size: 17px;
				font-style: italic;
				line-height: 2;
			}
		}
		p {
			line-height: 2;
		}
		.read-also {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			height: 105px;
			box-sizing: border-box;
			border-bottom: 2px solid $color-link;
			cursor: pointer;
			&:before {
				content: '';
				display: block;
				width: 90%;
				position: absolute;
				top: 0;
				border: 1px solid $color-link;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				height: 60%;
				border: 1px solid $color-link;
			}
			span {
				display: $df;
				align-items: $ai;
				width: 20%;
				height: 100%;
				margin-right: 15px;
				padding: 15px;
				font-family: $ffb;
				font-size: 25px;
				text-align: center;
				color: $white;
				background-color: $color-link;
				box-sizing: border-box;
			}
			p {
				font-family: $ffb;
				font-style: italic;
				font-size: 20px;
				line-height: 1.2;
				&:hover {
					color: $color-link;
				}
				&:active {
					color: $grey;
				}
			}
		}
		.news-foot {
			width: 100%;
			@include dflex ($df, $ai, $sb);
			.share {
				@include dflex ($df, $ai, $sb);
				width: 300px;
				ul {
					@include dflex ($df, $ai, $sarnd);
					width: 185px;
					li {
						a {
							svg {
								&:hover {
									fill: $color-link;
								}
								&:active {
									fill: $grey;
								}
							}
						}
					}
				}
			}
		}
	}
	aside {
		width: 35%;
		height: 100%;
		margin-top: 23px;
		ul {
			height: 100%;
			padding: 15px;
			background-color: $as-color;
			li {
				position: relative;
				display: $df;
				align-items: $ai;
				height: 130px;
				padding: 18px 0;
				border-bottom: 1px solid $br-color;
				.photo-news {
					position: relative;
					width: 152px;
					margin-right: 40px;
				}
				a {
					width: 100%;
					font-family: $ffb;
					font-size: 15px;
					&:hover {
						color: $color-link;
					}
					&:active {
						color: $grey;
					}
				}
				.date {
					top: 3px;
				}
			}
		}
		.popular-news_today {
			width: 100px;
			margin-bottom: 15px;
			padding: 5px 10px;
			text-align: center;
			background-color: $grey;
			color: $white;
			box-sizing: border-box;
			cursor: pointer;
			&:hover {
				background-color: $color-link;
			}
			&:active {
				background-color: $as-color;
				color: $grey;
			}
			h5 {
				margin: 0;
				font-family: $ffb;
			}
		}
		button {
			width: 100%;
			height: 75px;
			font-family: $ffb;
			font-size: 25px;
			color: $white;
			background-color: $color-link;
			border: none;
			outline: none;
			cursor: pointer;
		}
	}
}

.topic {
	width: 100px;
    margin-bottom: 15px;
    padding: 5px 10px;
    text-align: center;
    background-color: $color-link;
    cursor: pointer;
    h5 {
    	margin: 0;
    	font-family: $ffb;
    	color: $white;
    }
}