@font-face {
  font-family: SegoeUI;
  src: url(../fonts/SegoeUI.ttf); }
@font-face {
  font-family: SegoeUI-Bold;
  src: url(../fonts/SegoeUI-Bold.ttf); }
@font-face {
  font-family: SegoeUI-SemiBold;
  src: url(../fonts/SegoeUI-SemiBold.ttf); }
/* GENERAL STYLE */
body {
  font-family: SegoeUI, Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

img {
  cursor: pointer; }

figure {
  margin: 0;
  padding: 0; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

/* IE 10+ */
/* HEADER */
header {
  width: 85%;
  margin: 0 auto;
  padding: 24px 0;
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .social-icon .icon-top {
    display: flex; }
    header .social-icon .icon-top li {
      margin-right: 25px; }
      header .social-icon .icon-top li:last-child {
        margin-right: 0; }
  header .search input {
    width: 320px;
    height: 50px;
    border: 3px solid #DCDCDC;
    border-radius: 25px;
    outline: none;
    text-indent: 1em; }

nav {
  width: 85%;
  margin: 0 auto; }
  nav .top-nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    nav .top-nav li a {
      font-family: SegoeUI-Bold, Arial, sans-serif;
      font-size: 23px;
      font-weight: bold; }

main {
  width: 85%;
  margin: 0 auto; }
  main .main-news {
    height: 430px;
    display: flex;
    justify-content: space-between; }
    main .main-news section {
      width: 72%; }
    main .main-news aside {
      width: 28%;
      height: 100%;
      background-color: #F5F5F5;
      padding-left: 20px;
      box-sizing: border-box; }
      main .main-news aside h4 {
        font-family: SegoeUI-Bold, Arial, sans-serif;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase; }
      main .main-news aside ul {
        height: 335px;
        overflow-y: scroll; }
        main .main-news aside ul::-webkit-scrollbar {
          width: 5px; }
        main .main-news aside ul::-webkit-scrollbar-track {
          background-color: #ECECEC; }
        main .main-news aside ul::-webkit-scrollbar-thumb {
          height: 10px;
          border-radius: 20px;
          background-color: #A8A8A8; }
        main .main-news aside ul li {
          position: relative;
          padding: 25px 0 10px 0;
          border-bottom: 1px solid #E1E1E1; }
          main .main-news aside ul li span {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 15px;
            color: #A8A8A8; }
          main .main-news aside ul li a {
            font-size: 20px; }
  main .description-dirt {
    margin: 15px 0; }
    main .description-dirt a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 0;
      width: 145px;
      padding: 15px 0 20px 0;
      font-family: SegoeUI-Bold, Arial, sans-serif;
      font-size: 20px;
      color: #fff;
      background-color: #A8A8A8; }
  main .dirt .dirt-container {
    display: flex;
    justify-content: space-between; }
    main .dirt .dirt-container .dirt-image {
      position: relative;
      width: 240px;
      height: 240px;
      cursor: pointer; }
      main .dirt .dirt-container .dirt-image .dirt-bg_photo {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5; }
      main .dirt .dirt-container .dirt-image .dirt-description {
        display: none;
        position: absolute;
        bottom: 0;
        background-color: #F5F5F5;
        height: 100px;
        width: 100%; }
    main .dirt .dirt-container .dirt-image:hover .dirt-description {
      display: block; }
    main .dirt .dirt-container .dirt-image:hover .dirt-bg_photo {
      display: none; }

/*# sourceMappingURL=style.css.map */
