@import 'vars';

/* GENERAL STYLE */

@font-face {
  font-family: SegoeUI;
  src: url(../fonts/SegoeUI.ttf);
}


@font-face {
  font-family: SegoeUI-Bold;
  src: url(../fonts/SegoeUI-Bold.ttf);
}


@font-face {
  font-family: SegoeUI-SemiBold;
  src: url(../fonts/SegoeUI-SemiBold.ttf);
}


body {
  font-family: $ff;
  font-size: 16px;
}

li {
  list-style: none;
}


.page-privacy {
  .faq-page {
    h2 {
      text-align: center;
      text-transform: uppercase;
      color: #4d4d4d;
    }
    .title-wrap {
      border: solid 1px #C6C6C6;
      padding: 10px 15px;
      width: auto;
      display: flex;
      align-items: center;
      color: #333333;
      margin-bottom: 30px;
      border-radius: 3px;
      font-size: 20px;
      svg {
        height: 25px;
        width: 25px;
        margin-right: 15px;
      }
    }
  }
}

@media screen and (min-width: 320px) {
  header {
    width: 100%;
    .wrapper-top {
      max-width: 80%;
      margin: 0 auto 10px auto;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        .igl-animation {
          animation: pulsing 4s infinite;
        }
      }
    }
    .buttons-top {
      display: flex;
      justify-content: space-around;
      a {
        margin-right: 20px;
      }
      img {
        width: 100%;
      }
    }
  }
  @keyframes pulsing {
    0% {
      -webkit-transform: scale(0.7, 0.7);
      transform: scale(0.7, 0.7);
    }

    50% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }

    100% {
      -webkit-transform: scale(0.7, 0.7);
      transform: scale(0.7, 0.7);
    }
  }

  .content-universe {
    position: relative;
    width: 100%;
    height: 430px;
    background: url(../img/bg-igl1.png) no-repeat center;
    background-size: cover;
    .bg-universe {
      position: relative;
      width: 100%;
      height: 430px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background: url(../img/bg-universe.png) repeat center;
      background-size: cover;
      animation: animatedBgUniverse 60s linear infinite;
      .likel1 {
        position: relative;
        top: 340px;
        left: 50px;
        z-index: 2;
        width: 54px;
        height: 48px;
        animation: anlikel 5s linear infinite;
      }
      .likel2 {
        position: relative;
        top: 320px;
        left: 10px;
        width: 32px;
        height: 30px;
        z-index: 2;
        animation: anlikel2 5s linear infinite;
      }
      .likel3 {
        position: relative;
        top: 315px;
        right: 45px;
        z-index: 2;
        width: 41px;
        height: 39px;
        animation: anlikel3 5s linear infinite;
      }
      .liker1 {
        position: relative;
        top: 195px;
        left: 45px;
        width: 59px;
        height: 55px;
        animation: anliker1 7s linear infinite;
      }
      .liker2 {
        position: relative;
        top: 235px;
        right: 20px;
        width: 41px;
        height: 39px;
        animation: anliker2 7s linear infinite;
      }
      .liker3 {
        position: relative;
        top: 250px;
        right: 25px;
        width: 32px;
        height: 30px;
        animation: anliker3 5s linear infinite;
      }
    }
  }
  @keyframes animatedBgUniverse {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -600px 600px;
    }
  }

  @keyframes anlikel {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes anlikel2 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes anlikel3 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateX(-20px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes anliker1 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes anliker2 {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes anliker3 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .new-friends {
    width: 100%;
    padding-top: 25px;
    background: url(../img/bg-igl2.png) no-repeat center;
    background-size: cover;
    background-color: $white;
    animation: animatedBgFriends 60s linear infinite;
    .chat-animation {
      animation: chatAn 5s linear infinite;
    }
    .new-friend_text {
      padding: 20px;
      h3 {
        font-size: 28px;
        font-weight: 800;
      }
    }
  }
  @keyframes animatedBgFriends {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -600px 600px;
    }
  }

  @keyframes chatAn {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-50px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .translator {
    width: 100%;
    background: url(../img/bg-igl3.png) no-repeat center;
    background-size: cover;
    .translator-bg {
      width: 100%;
      background: url(../img/bg-translator.png) no-repeat center;
      background-size: cover;
      animation: animatedBgTranslator 60s linear infinite;
      .translator-text {
        margin-top: -150px;
        padding: 20px;
        text-align: right;
        color: #ffffff;
        h3 {
          font-size: 28px;
          font-weight: 800;
        }
        .translate {
          margin-right: 30px;
          animation: translateAnime 5s linear infinite;
        }
      }
    }
  }
  @keyframes animatedBgTranslator {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -600px 600px;
    }
  }

  @keyframes translateAnime {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(15px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  .world-map {
    position: relative;
    width: 100%;
    background: url(../img/bg-igl4.png) no-repeat center;
    background-size: cover;
    background-color: $white;
    animation: animatedBgWorld 60s linear infinite;
    .locator1 {
      position: absolute;
      top: 100px;
      left: 105px;
      animation: locAn 5s linear infinite;
    }
    .locator2 {
      position: relative;
      top: 175px;
      left: 200px;
      animation: loc2An 7s linear infinite;
    }
    .locator3 {
      position: relative;
      top: 40px;
      left: 105px;
      animation: loc3An 3s linear infinite;
    }
    .world-map_text {
      padding: 20px;
      h3 {
        font-size: 28px;
        font-weight: 800;
      }
    }
  }
  @keyframes animatedBgWorld {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -600px 600px;
    }
  }

  @keyframes locAn {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes loc2An {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes loc3An {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .video {
    max-width: 100%;
    height: 314px;
    iframe {
      max-width: 100%;
      min-width: 100%;
      max-height: 100%;
      min-height: 100%;
    }
  }
  footer {
    max-width: 100%;
    padding: 1px;
    text-align: center;
    color: $white;
    .footer-wrapper {
      margin-top: -17px;
      padding: 25px 0 1px 0;
      background: url(../img/bg-igl_footer.png) no-repeat center;
      background-size: cover;
      .footer-information {
        p {
          font-family: $ffb;
          font-size: 16px;
          color: $white;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            margin-bottom: 30px;
            a {
              font-family: $ff;
              text-decoration: underline;
              color: $white;
            }
          }
        }
      }
      .footer-social {
        p {
          font-family: $ffb;
          font-size: 16px;
          color: $white;
        }
        .footer-social_icon {
          display: flex;
          justify-content: space-between;
          max-width: 80%;
          margin: 35px 0;
          .icon {
            width: 60px;
            height: 60px;
            background: url(../img/social-icon.png) no-repeat;
          }
          .icon-facebook {
            background-position: -70px 0;
          }
          .icon-twitter {
            background-position: -140px 0;
          }
          .icon-google_plus {
            background-position: -210px 0;
          }
          li a {
            display: block;
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    .footer-about {
      padding: 0 20px;
      text-align: left;
      h3 {
        font-size: 28px;
        font-weight: 800;
      }
      p {
        font-family: $ff;
      }
    }
    .footer-social p {
      font-family: $ffb;
    }
    .footer-about {
      color: $black;
    }
    .footer-download {
      margin-top: 38px;
      .footer-download_button {
        margin: 32px 0 32px 0;
        display: flex;
        justify-content: center;
        button {
          border: none;
          outline: none;
        }
        .down {
          height: 43px;
          width: 130px;
          background: url(../img/buttondown2.png) no-repeat;
        }
        .googleplay {
          background-position: -133px 0;
        }
      }
    }
  }
}