@import 'vars';
@import 'fonts';

*{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* HEADER */
.background {
	width: 100%;
	height: 730px;
	background: url("../img/header_bg.png")no-repeat center $white;
	background-size: 75%;
}

.button-down {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 38px; 
	a {
		width: 57px;
    	height: 57px;
    	display: block;
    	background: url("../img/arr_down.png") no-repeat center;
	}
}
