@font-face {
  font-family: Evolventa-Regular, sans-serif;
  src: url(../fonts/Evolventa-Regular.ttf);
}
@font-face {
  font-family: Evolventa-Bold, sans-serif;
  src: url(../fonts/Evolventa-Bold.ttf);
}
@font-face {
  font-family: Evolventa-Oblique, sans-serif;
  src: url(../fonts/Evolventa-Oblique.ttf);
}
@font-face {
  font-family: Evolventa-BoldOblique, sans-serif;
  src: url(../fonts/Evolventa-BoldOblique.ttf);
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER */
.background {
  width: 100%;
  height: 730px;
  background: url("../img/header_bg.png") no-repeat center #ffffff;
  background-size: 75%;
}

.button-down {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 38px;
}
.button-down a {
  width: 57px;
  height: 57px;
  display: block;
  background: url("../img/arr_down.png") no-repeat center;
}

@font-face {
  font-family: Evolventa-Regular, sans-serif;
  src: url(../fonts/Evolventa-Regular.ttf);
}
@font-face {
  font-family: Evolventa-Bold, sans-serif;
  src: url(../fonts/Evolventa-Bold.ttf);
}
@font-face {
  font-family: Evolventa-Oblique, sans-serif;
  src: url(../fonts/Evolventa-Oblique.ttf);
}
@font-face {
  font-family: Evolventa-BoldOblique, sans-serif;
  src: url(../fonts/Evolventa-BoldOblique.ttf);
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER */
.background {
  width: 100%;
  height: 730px;
  background: url("../img/header_bg.png") no-repeat center #ffffff;
  background-size: 75%;
}

.button-down {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 38px;
}
.button-down a {
  width: 57px;
  height: 57px;
  display: block;
  background: url("../img/arr_down.png") no-repeat center;
}

/* MAIN */
main {
  width: 100%;
}

.party-lider {
  width: 100%;
  height: 695px;
  background: url("../img/lider.png") no-repeat 100% 25%;
  background-size: cover;
  padding: 1px;
}

/*background: url("../img/about-lider.png")no-repeat center;*/
.about-lider {
  width: 550px;
  height: 590px;
  margin: 45px 0 0 4%;
  padding: 25px 40px;
  line-height: 1.7;
  opacity: 0.7;
  background-color: #595f70;
  box-shadow: -2px -2px 3px #797a7e;
  word-wrap: break-word;
  box-sizing: border-box;
}
.about-lider p {
  font-family: Evolventa-Regular, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}
.about-lider:before {
  display: block;
  content: '';
  position: relative;
  top: 355px;
  right: 25px;
  width: 65%;
  border: 2px solid #1478bf;
}

.quotes-up {
  width: 37px;
  height: 24px;
  position: relative;
  right: 30px;
}

.quotes-down {
  width: 37px;
  height: 24px;
  position: relative;
  top: -15px;
  left: 430px;
}

.signature {
  margin-top: 25px;
}
.signature p {
  font-family: Evolventa-Regular, sans-serif;
  font-size: 20px;
  color: #e6e6e8;
  margin-bottom: 0;
  line-height: 0;
}
.signature h1 {
  font-family: Evolventa-Bold, sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-transform: capitalize;
}

.signature-lider {
  position: relative;
  top: -75px;
  left: 50px;
}

.our-principles {
  width: 100%;
  height: 807px;
  background-color: #ffffff;
}

.wrapper-principles {
  width: 100%;
  height: 725px;
  display: flex;
}

.our-principles_mission {
  height: 725px;
  width: 50%;
  padding: 70px 65px 140px 85px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 1s box-shadow;
}
.our-principles_mission h2 {
  font-family: Evolventa-Regular, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  border-bottom: 4px solid #1478bf;
}
.our-principles_mission p {
  font-family: Evolventa-Regular, sans-serif;
  font-size: 1.2em;
  line-height: 1.8;
}
.our-principles_mission:hover {
  box-shadow: 0 0 55px #c0c0c0;
}

.our-principles_mission-caption {
  width: 320px;
  margin: 0 auto 63px;
  text-align: center;
}

.our-principles_intent {
  height: 725px;
  width: 50%;
  padding: 70px 65px 140px 85px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s box-shadow;
}
.our-principles_intent h2 {
  font-family: Evolventa-Regular, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  border-bottom: 4px solid #1478bf;
}
.our-principles_intent p {
  font-family: Evolventa-Regular, sans-serif;
  font-size: 1.2em;
  line-height: 1.8;
}
.our-principles_intent:hover {
  box-shadow: 0 0 55px #c0c0c0;
}

.our-principles_intent-caption {
  width: 320px;
  margin: 0 auto 55px;
  text-align: center;
}

.caption {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 0;
  border-top: 1px solid #d0d0d0;
  transition: 1s background;
}
.caption:hover {
  background-color: #2977cb;
}
.caption h3 {
  font-size: 60px;
  color: #515151;
  cursor: pointer;
  transition: 1s color;
}
.caption h3:hover {
  color: #ffffff;
}

/* PRINCIPLES INFO */
.principles-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.principles-info img {
  cursor: pointer;
}

.principles-info_block {
  width: 379px;
  height: 696px;
  position: relative;
  top: 1px;
  margin-right: 1px;
  cursor: pointer;
}

.principles-info_text {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  padding: 58px 20px 0 15px;
  opacity: 0.5;
  transition: 3s background-color;
  text-align: center;
  box-sizing: border-box;
}
.principles-info_text a {
  display: block;
  width: 172px;
  height: 172px;
  color: #ffffff;
  margin: 0 auto 90px auto;
}
.principles-info_text p {
  font-size: 2em;
  text-transform: uppercase;
  color: #ffffff;
}

.principles-info_block:hover .principles-info_text {
  z-index: 10;
  display: block;
  background-color: #1b1c1c;
}

/* VIDEO */
.video {
  width: 100%;
  height: 720px;
}

.mw-100 {
  min-height: 100%;
  min-width: 100%;
}

.mm-100 {
  max-width: 100%;
  min-height: 100%;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #1478bf;
  padding: 14px 0 58px 0;
}

.footer-info {
  width: 1180px;
  margin: 0 auto 70px;
  text-align: center;
  text-transform: uppercase;
}
.footer-info p {
  font-family: Evolventa-Regular, sans-serif;
  font-size: 24px;
  color: #ffffff;
  line-height: 1.5;
}
.footer-info img {
  margin-bottom: 40px;
}

.our {
  font-family: Evolventa-Bold, sans-serif;
  font-weight: bold;
}

.contacts {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contacts h4 {
  font-family: Evolventa-Bold, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join-in ul {
  display: flex;
  justify-content: space-around;
}
.join-in ul li a {
  font-size: 40px;
  color: #312c30;
}
.join-in ul li a:hover {
  color: #6ebdf9;
}

.number-mobile img {
  margin-right: 7px;
}
.number-mobile a {
  font-family: Evolventa-Regular, sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.number-mobile_tel {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.tg {
  display: block;
  margin-left: 35px;
  font-size: 40px !important;
  color: #312c30 !important;
}
.tg:hover {
  color: #6ebdf9 !important;
}

.social {
  text-align: center;
  line-height: 1.7;
}
.social p {
  font-family: Evolventa-Regular, sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}
.social ul {
  width: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.social ul li a {
  display: block;
  font-size: 40px;
  color: #312c30;
}
.social ul li a:hover {
  color: #6ebdf9;
}

.name {
  font-family: Evolventa-Bold, sans-serif;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
