$green: #6F9522;
$black: #000000;
$sblack: #333333;
$white: #ffffff;
$grey: #646464;
$ff: Poppins-Regular, Arial, sans-serif;
$ffm: Poppins-Medium, Arial, sans-serif;
$startpoint: 320px;
$df: flex;
$sb: space-between;
$aic: center;