@import 'vars';
@import 'mixins';

/* General style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $ff;
    font-size: 16px;
    color: $black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


@media (min-width: #{$startpoint}) {
  
    /* header */
    header {
        @include dflex (flex, space-between, center);
        width: 100%;
        height: 100px;
        background-color: $sblack;
        .top-bg {
            display: none;
            width: 45%; 
            height: 100%;
            transform: skew(-50deg);
            -webkit-transform: skew(-50deg);
	        -moz-transform: skew(-50deg);
	        -o-transform: skew(-50deg);
            background: url(../img/1.png) no-repeat center;
            background-size: cover;
        }
        nav {
            margin-right: 10px;
            ul {
                display: $df;
                flex-direction: column;
                flex-wrap: wrap;
                li {
                    a {
                        color: $white;
                        &:hover {
                            color: $green;
                        }
                    }
                }
            }
        }
    }
    main {
        margin-top: -21px;
        .about {
            height: 100vh;
            padding-top: 1px;
            background: url(../img/code.png) no-repeat center;
            background-size: cover;
            .about-myself {
                width: 50%;
                background-color: $green;
            }
        }
        .my-skill {
            margin: 20px 0;
            text-align: center;
            h2 {
                margin-bottom: 20px;
                font-weight: normal;
                text-transform: uppercase;
                span {
                    font-weight: bold;
                }
                &:before {
                    content: '';
                    width: 60%;
                    height: 8px;
                    background-color: $green;
                }
            }
            .skill {
                width: 80%;
                margin: 0 auto;
                border-radius: 10px;
                box-shadow: 0 0 5px 0 $black;
            }
        }
        .my-work {
            margin-bottom: 20px;
            text-align: center;
            h2 {
                margin-bottom: 20px;
                text-transform: uppercase;
                font-weight: normal;
                span {
                    font-weight: bold;
                }
            }
            .work {
                width: 80%;
                margin: 0 auto;
                display: $df;
                justify-content: $sb;
                flex-wrap: wrap;
                div {
                    width: 30%;
                    height: 70px;
                    margin-bottom: 10px;
                    background: url(../img/work.png)no-repeat center;
                    background-size: cover;
                }
            }
        }
    }

    footer {
        background-color: $grey;
    }


}


